<nz-modal [nzVisible]="true" nzCentered nzTitle="Code de confirmation (vérifiez vos emails / spams)" i18n-nzTitle [nzClosable]="false">
  <ng-container *nzModalContent>
    <div nzFlex nz-row nzJustify="center">
      <div nz-flex nzVertical>
        <nz-input-otp
          [nzLength]="4" [nzSize]="'large'" [disabled]="(isLoading$ | async) === true"
          [nzFormatter]="formatter" [(ngModel)]="value"></nz-input-otp>
      </div>
    </div>
  </ng-container>

  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleSubmit()" [disabled]="(isLoading$ | async) || value.length < 4"
      [nzLoading]="isLoading$ | async">{{ submitButton }}</button>
  </ng-container>
</nz-modal>
