:host {
  display: block;
  height: 100%;
  position: relative;

  .scrollable-zone {
    overflow-y: auto;
    height: 100%;
    padding: 1.625rem;
  }

  .scrollable-zone.-has-order-footer {
    height: calc(100% - 80px);
  }
}
