<div class="menu-section">
  <nz-page-header>
    <nz-page-header-title>{{ (restaurant$ | async)?.name }}</nz-page-header-title>
    <nz-page-header-extra>
      <div class="actions-btn">
        <nz-space nzAlign="center">
          <ng-container *ngIf="!isInSequenceMode">
            <button *nzSpaceItem nz-button (click)="isInSequenceMode = true" nzBlock>Séquence d'affichage</button>
            <button *nzSpaceItem nz-button nzType="primary" nzBlock (click)="openNewPastryModal()">
              <span nz-icon nzType="plus"></span>
              Ajouter une pâtisserie
            </button>
          </ng-container>
          <ng-container *ngIf="isInSequenceMode">
            <button *nzSpaceItem nz-button nzType="primary" nzBlock (click)="isInSequenceMode = false">
              <span nz-icon nzType="right"></span>
              Retour
            </button>
          </ng-container>
        </nz-space>
      </div>
    </nz-page-header-extra>
  </nz-page-header>
  <ng-container *ngIf="(pastries$ | async)?.length === 0"
      ><nz-empty></nz-empty
  ></ng-container>

  <div *ngIf="isInSequenceMode && (pastries$ | async)?.length" cdkDropList class="pastry-sequence-list" (cdkDropListDropped)="drop($event)">
    <div class="pastry-sequence-box" [class.-loading]="isMoving$ | async" *ngFor="let pastry of pastries$ | async; trackBy: tackById" cdkDrag [cdkDragData]="pastry">
      <div class="pastry-sequence-custom-placeholder" *cdkDragPlaceholder>
        <span>{{ pastry.name }}</span>
      </div>
      <div *cdkDragPreview></div>
      <span>{{ pastry.name }}</span>
      <nz-space class="badges-section" nzAlign="center">
        <nz-badge *nzSpaceItem class="hidden-badge" [nzCount]="iconHidden" nzStandalone [nzTitle]="'hidden'"></nz-badge>
        <nz-badge *nzSpaceItem class="sequence-badge" nzStandalone nzShowZero [nzCount]="pastry.displaySequence" [nzTitle]="'displaySequence'"></nz-badge>
      </nz-space>
        <ng-template #iconHidden>
        <span *ngIf="pastry.hidden" nz-icon nzType="eye-invisible"></span>
      </ng-template>
    </div>
  </div>
  <div *ngIf="!isInSequenceMode && (pastries$ | async)?.length" class="pastry-list" nz-row [nzGutter]="[0, 24]">
    <div *ngFor="let pastry of pastries$ | async; trackBy: tackById" class="pastry-section" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12"
      nzXl="8">
      <div class="inner-box">
        <app-pastry-card #item [isAdmin]="true" [pastry]="pastry" [isLoading]="(isLoading$ | async)! || (isMoving$ | async)!"
          [count]="pastry.stock"
          (clickPlus)="handleClickPlus(pastry)"
          (clickMinus)="handleClickMinus(pastry)" (clickEdit)="openEditPastryModal(pastry)" (clickActive)="handleActivePastry(pastry)" (clickDelete)="handleDeletePastry(pastry)"></app-pastry-card>
      </div>
    </div>
  </div>
</div>

<app-new-pastry-modal *ngIf="(menuModalOpened$ | async) === 'new'" [restaurant]="(restaurant$ | async)!" (clickCancel)="closeMenuModal()"></app-new-pastry-modal>
<app-edit-pastry-modal *ngIf="(menuModalOpened$ | async) === 'edit'" [pastry]="(selectEditingPastry$ | async)!" [restaurant]="(restaurant$ | async)!" (clickCancel)="closeMenuModal()"></app-edit-pastry-modal>
