<nz-card style="width: 300px" [nzCover]="coverTemplate" [nzActions]="[actionCount, actionMinus, actionPlus]">
  <nz-skeleton [nzActive]="true" [nzLoading]="isLoading">
    <nz-badge *ngIf="isStockAvailable" [class.-limit-reached]="pastry.stock === 0" [class.-stock-issue]="isStockIssue"
      nzStandalone nzShowZero [nzCount]="pastry.stock" [nzTitle]="'stock'">
      <ng-container *ngIf="pastry.stock === 0">
        <span>Rupture de stock</span>
      </ng-container>
      <ng-container *ngIf="pastry.stock > 0">
        <span>Stock</span>
      </ng-container>
    </nz-badge>
    <nz-card-meta [nzTitle]="pastry.name + ' (' + pastry.price + '€)'" [nzDescription]="pastry.description">
    </nz-card-meta>
    <ng-container *ngIf="isTips">
      <div class="learn-more">
        <a href="https://www.instagram.com/p/CQfi_pboxwM/">En savoir plus</a>
      </div>
    </ng-container>
    <nz-collapse *ngIf="pastry.ingredients?.length" nzGhost>
      <nz-collapse-panel nzHeader="Ingrédients">
        <p class="ingredients" style="margin: 0">
          {{ pastry.ingredients.join(", ") }}
        </p>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-skeleton>
</nz-card>
<ng-template #coverTemplate>
  <img *ngIf="!isLoading" [alt]="'example-' + pastry.name" [src]="imageUrl" />
</ng-template>
<ng-template #actionCount>
  <span *ngIf=" !!count">{{ count }}</span>
</ng-template>
<ng-template #actionPlus>
  <i nz-icon nzType="plus" (click)="!limitReached && !isLoading && onClickPlus.emit(count)"></i>
</ng-template>
<ng-template #actionMinus>
  <i nz-icon nzType="minus" (click)="!isLoading && onClickMinus.emit()"></i>
</ng-template>
