<nz-card
  style="width: 300px"
  [nzCover]="coverTemplate"
  [nzActions]="[actionCount, actionMinus, actionPlus]"
>
  <nz-skeleton [nzActive]="true" [nzLoading]="isLoading">
    <nz-card-meta
      [nzTitle]="pastry.name + ' (' + pastry.price + '€)'"
      [nzDescription]="pastry.description"
    ></nz-card-meta>
    <nz-collapse *ngIf="pastry.ingredients.length" nzGhost>
      <nz-collapse-panel nzHeader="Ingrédients">
        <p style="margin: 0">{{ pastry.ingredients.join(", ") }}</p>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-skeleton>
</nz-card>
<ng-template #coverTemplate>
  <img
    *ngIf="!isLoading"
    [alt]="'example-' + pastry.name"
    [src]="'assets/photos/' + pastry.imageUrl"
  />
</ng-template>
<ng-template #actionCount>
  <span *ngIf="!!count">{{ count }}</span>
</ng-template>
<ng-template #actionPlus>
  <i nz-icon nzType="plus" (click)="!isLoading && onClickPlus.emit()"></i>
</ng-template>
<ng-template #actionMinus>
  <i nz-icon nzType="minus" (click)="!isLoading && onClickMinus.emit()"></i>
</ng-template>
