<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Connais-tu la phrase de passe ?"
  nzCentered
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        nz-input
        placeholder="Phrase de passe"
        [(ngModel)]="password"
      />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></i>
    </ng-template>
  </ng-container>
  <ng-container *nzModalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleClickConfirm()"
      [disabled]="!password.length"
    >
      Try
    </button>
  </ng-container>
</nz-modal>
