<div class="commands-section">
  <nz-page-header>
    <nz-page-header-title>{{ (restaurant$ | async)?.name }}</nz-page-header-title>
    <nz-page-header-subtitle i18n>Commandes</nz-page-header-subtitle>
    <nz-page-header-tags><nz-tag [nzColor]="'orange'" i18n>Admin</nz-tag></nz-page-header-tags>
    <nz-page-header-extra>
      <div *ngIf="(isLoading$ | async) === false" class="actions-btn">
        <nz-space nzAlign="center">
          <ng-container *ngIf="!isInAssociationMode && false">
            <button class="association-mode-btn" *nzSpaceItem nz-button (click)="isInAssociationMode = true"
              nzBlock i18n>Association de commandes</button>

            <button *nzSpaceItem class="more-btn" nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu"
              nzPlacement="bottomRight" style="border: none; padding: 0">
              <span nz-icon nzType="more" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></span>
            </button>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="isInAssociationMode = true" i18n>
                  Association de commandes
                </li>
              </ul>
            </nz-dropdown-menu>
          </ng-container>
          <ng-container *ngIf="isInAssociationMode">
            <button *nzSpaceItem nz-button nzType="primary" nzBlock
              (click)="isInAssociationMode = false" i18n>
              <span nz-icon nzType="right"></span>
              Retour
            </button>
          </ng-container>
        </nz-space>
      </div>
    </nz-page-header-extra>
  </nz-page-header>

  <div *ngIf="(isLoading$ | async) === false" class="container-section">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'ongoing' }" queryParamsHandling="merge" i18n>
          En cours
        </a>
        <ng-container *ngIf="(onGoingCommands$ | async)?.length === 0">
          <nz-empty class="empty-section"></nz-empty>
        </ng-container>
        <ng-container *ngIf="(onGoingCommands$ | async)?.length! > 0">
          <div class="data-section" [class.-association-mode]="isInAssociationMode" nz-row [nzGutter]="[0, 24]" nzJustify="center">
            <div *ngFor="let command of onGoingCommands$ | async" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="8">
              <div class="inner-box" [class.-selected]="selectedCommands.includes(command)" (click)="handleSelect(command)">
                <app-command-card [command]="command" [isLoading]="(isLoading$ | async)!" [isPayed]="!!command.isPayed"
                  [noAction]="isInAssociationMode"
                  (clickDone)="handleClickDone(command)"
                  (clickWizz)="handleClickWizz(command)"
                  (clickPayed)="handleClickPayed(command, $event)"
                  (clickCancelled)="handleClickCancelled(command)"
                  ></app-command-card>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'delivered' }" queryParamsHandling="merge" i18n>
          Livrées
        </a>
        <ng-container *ngIf="(deliveredCommands$ | async)?.length === 0">
          <nz-empty class="empty-section"></nz-empty>
        </ng-container>
        <ng-container *ngIf="(deliveredCommands$ | async)?.length! > 0">
          <div class="data-section" nz-row [nzGutter]="[0, 24]">
            <div *ngFor="let command of deliveredCommands$ | async" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="8">
              <div class="inner-box">
                <app-command-card [command]="command" [isLoading]="(isLoading$ | async)!" [isDone]="true"
                  [isPayed]="!!command.isPayed" (clickPayed)="handleClickPayed(command, $event)"
                  (clickWizz)="handleClickWizz(command)"></app-command-card>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'payed' }" queryParamsHandling="merge" i18n>
          Payées
        </a>
        <ng-container *ngIf="(payedCommands$ | async)?.length === 0">
          <nz-empty class="empty-section"></nz-empty>
        </ng-container>
        <ng-container *ngIf="(payedCommands$ | async)?.length! > 0">
          <div class="data-section">
            <nz-page-header>
              <nz-page-header-title *ngIf="(payedCommands$ | async)?.length" i18n>Total&nbsp;: {{ totalPayedCommands$ | async }}€
              </nz-page-header-title>
            </nz-page-header>
            <div nz-row [nzGutter]="[0, 24]">
              <div *ngFor="let command of payedCommands$ | async" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="8">
                <div class="inner-box">
                  <app-command-card [command]="command" [isLoading]="(isLoading$ | async)!" [isDone]="true"
                    [isPayed]="!!command.isPayed" (clickWizz)="handleClickWizz(command)"></app-command-card>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-tab>
      <nz-tab *ngIf="(cancelledCommands$ | async)?.length !== 0">
        <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'cancelled' }" queryParamsHandling="merge" i18n>
          Annulées
        </a>
        <ng-container *ngIf="(cancelledCommands$ | async)?.length === 0">
          <nz-empty class="empty-section"></nz-empty>
        </ng-container>
        <ng-container *ngIf="(cancelledCommands$ | async)?.length! > 0">
          <div class="data-section">
            <div nz-row [nzGutter]="[0, 24]">
              <div *ngFor="let command of cancelledCommands$ | async" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="8">
                <div class="inner-box">
                  <app-command-card [command]="command" [isLoading]="(isLoading$ | async)!" [isDone]="true" [noAction]="true"
                    [isPayed]="!!command.isPayed"></app-command-card>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<app-information-popover *ngIf="!isInAssociationMode">
  <div i18n>Les commandes sont celles de la journée courante.</div>
  <div i18n>Nous gardons aussi dans cette liste les commandes qui n'ont pas été livrées, ou pas encore payées.</div>
</app-information-popover>

<nz-float-button
  *ngIf="selectedCommands.length > 1"
  nzType="primary" class="information" [nzIcon]="icon" (click)="handleMerge()"
  nz-popover [nzPopoverContent]="contentTemplate" nzPopoverPlacement="topRight"
></nz-float-button>
<ng-template #contentTemplate i18n>
  Fusionner
</ng-template>
<ng-template #icon>
  <nz-icon nzType="merge-cells"></nz-icon>
</ng-template>
