:host {
  display: block;
  height: 100%;

  .commands-section {
    height: 100%;
  }

  .container-section {
    height: 100%;
    padding: 1rem;
  }

  .information {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
  }

  .empty-section {
    min-height: 150px;
  }

  .data-section {
    padding: 0.875em 0;
  }

  ::ng-deep .ant-tabs-content-holder {
    overflow-y: auto;
  }

  ::ng-deep .ant-tabs-tabpane {
    overflow-y: hidden;
  }

  nz-tabset {
    padding-bottom: 6px;
    height: 100%;
  }
}

::ng-deep .information-popover {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
