:host {
  display: block;
  height: 100%;

  .commands-section {
    height: 100%;
  }

  .container-section {
    height: 100%;
    padding: 1rem;
  }

  .actions-btn {
    .association-mode-btn {
      display: block;
    }

    .more-btn {
      display: none;
    }
  }

  .empty-section {
    min-height: 150px;
  }

  .data-section {
    padding: 0.875em 0;

    &.-association-mode {
      .inner-box {
        cursor: pointer;
      }

      ::ng-deep .inner-box nz-card:hover {
        box-shadow: 0 2px 10px black;
      }

      ::ng-deep .inner-box.-selected nz-card {
        box-shadow: 0 0 10px var(--blue);;
      }
    }
  }

  ::ng-deep .ant-tabs-content-holder {
    overflow-y: auto;
  }

  ::ng-deep .ant-tabs-tabpane {
    overflow-y: hidden;
  }

  nz-tabset {
    padding-bottom: 6px;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    .actions-btn {

      .association-mode-btn {
        display: none;
      }

      .more-btn {
        display: block;
      }
    }
  }
}
