@import 'src/vars.scss';

:host {
  display: flex;
  justify-content: center;

  .take-away {
    display: flex;
    justify-content: center;
    font-weight: 500;
  }

  .pastry-type {
    display: flex;
    justify-content: center;
    font-weight: 500;
    border-radius: 4px;
    background-color: $grey;
  }

  nz-card {
    transition: box-shadow 250ms;
    max-width: 100%;
  }

  nz-card.-is-just-updated {
    box-shadow: 0 0 6px $orange;
  }

  nz-card.-is-new {
    box-shadow: 0 0 6px $red;
  }

  nz-ribbon {
    // 16px === width of the ribbon
    max-width: calc(100% - 16px);
  }

  ::ng-deep nz-ribbon.-is-loading .ant-ribbon {
    display: none;
  }
}
