<nz-modal [nzVisible]="true" nzCentered [nzMaskClosable]="true" (nzOnCancel)="clickCancel.emit()">
  <ng-container *nzModalTitle>
    Payment de la commande #{{ command.reference }}
  </ng-container>

  <ng-container *nzModalContent>
    <div class="payment-modal-content">
      <p>Cette commande a bien été payée ? (<span [class.-line-through]="!!discount">{{ command.totalPrice }}€</span>)
        <span *ngIf="discount" class="new-price">({{ (discount.newPrice) | number : '1.0-2' }}€)</span>
      </p>
      <nz-space nzDirection="vertical" style="width: 100%">
        <ng-container *ngFor="let paymentPossibility of paymentPossibilities; trackBy: trackByKey">
          <nz-input-number-group *nzSpaceItem nzCompact>
            <button nz-button disabled
              class="label-pre-btn"
              [ngStyle]="{ 'border-left': '2px solid ' + PAYMENT_METHOD_LABEL[paymentPossibility.key].color }"
            >
              {{ PAYMENT_METHOD_LABEL[paymentPossibility.key].label }}
            </button>

            <nz-input-number [(ngModel)]="paymentPossibility.value" (ngModelChange)="onChange()" [nzStep]="0.01" [nzMin]="0" style="width: calc(100% - 250px)"></nz-input-number>

            <button nz-button
              nzType="primary"
              class="shortcut-btn"
              [ngStyle]="{ 'background-color': PAYMENT_METHOD_LABEL[paymentPossibility.key].color, 'border-color': PAYMENT_METHOD_LABEL[paymentPossibility.key].color }"
              (click)="setTotal(paymentPossibility.key)">
              <span nz-icon nzType="euro" nzTheme="outline"></span>
            </button>
          </nz-input-number-group>
        </ng-container>

        <ng-container *ngIf="isTooMuch">
          <nz-alert
            *nzSpaceItem
            nzType="error"
            nzMessage="Erreur"
            nzDescription="Le montant renseigné dépasse le montant de la commande."
            i18n-nzMessage
            i18n-nzDescription
            nzShowIcon
          ></nz-alert>
        </ng-container>
      </nz-space>
    </div>
  </ng-container>

  <ng-container *nzModalFooter>
    <div class="payment-modal-footer">
      <button nz-button nzType="dashed" (click)="openPromoModal()">Promo</button>
      <div>
        <button nz-button nzType="default" (click)="clickCancel.emit()">Annuler</button>
        <button nz-button nzType="primary" (click)="payCommand()" [disabled]="!isOk">OK</button>
      </div>
    </div>
  </ng-container>
</nz-modal>

<app-promo-modal *ngIf="isPromoModalVisible" (clickCancel)="isPromoModalVisible = false;" (clickOk)="reducingPrice($event);"
  [command]="command" [discount]="discount"></app-promo-modal>

