
.payment-modal-content p .-line-through {
  text-decoration : line-through;
}

.payment-modal-content p .new-price {
  font-weight: 500;
}

.payment-modal-content .label-pre-btn {
  display: block;
  min-width: 130px;
  font-weight: 500;
}

.payment-modal-content .shortcut-btn {
  cursor: pointer;
  display: block;
}

::ng-deep .payment-modal-footer {
  display: flex;
  justify-content: space-between;
}

::ng-deep .payment-label {
  &.-creditCart {
    color: var(--blue);
  }

  &.-cash {
    color: var(--green);
  }

  &.-bankCheque {
    color: var(--magenta);
  }

  &.-internet {
    color: var(--orange);
  }
}
