<div class="content">
  <div class="sub-content">
    <p>
      Salut ! Moi c'est Aymeric et
      <a href="https://www.instagram.com/aymericdo/" target="blank"
        >j'aime toujours faire de la pâtisserie</a
      >
      à mes heures perdues.
    </p>
    <p>
      <b>Du mardi 26 au dimanche 31 juillet à partir de 15h</b>, je ré-ouvre la patisserie éphémère sur
      <a
        href="https://www.google.fr/maps/place/47%C2%B052'10.3%22N+1%C2%B050'17.1%22E/@47.8695139,1.8375468,200m/data=!3m2!1e3!4b1!4m9!1m2!3m1!2sMairie+de+Saint-Hilaire-Saint-Mesmin!3m5!1s0x0:0x62652629a6c6648f!7e2!8m2!3d47.8695126!4d1.8380935"
        target="blank"
        ><b>le pâtis, au pied de la Mairie</b></a
      >, à Saint-Hilaire Saint-Mesmin.
    </p>
    <div class="img">
      <img src="assets/image/all.jpg" alt="photo de toutes les pâtisseries" />
      <span class="legend"
        >Voici les gâteaux que vous pourrez venir déguster pendant 2
        semaines.</span
      >
    </div>

    <p>
      Tous les bénéfices seront reversés à
      <a
        href="https://www.franceinter.fr/emissions/l-esprit-d-initiative/l-esprit-d-initiative-16-aout-2019"
        target="blank"
        >Pâtisserie Solidaire</a
      >, une association qui distribue des invendus sucrés à des associations
      comme les Restos du Cœur.
    </p>
    <div class="img">
      <img
        src="assets/image/patissolidaire.jpeg"
        alt="photo de patisseries solidaires"
      />
      <span class="legend"
        >Merci à tous les bénévoles de Pâtisseries Solidaires et plus
        spécifiquement à Solange
      </span>
    </div>
  </div>
</div>
<div class="thanksto">
  <div class="img">
    <img
      class="half"
      src="assets/image/cdfdestsm.jpeg"
      alt="photo de comité des fêtes"
    />
    <span class="legend"
      >Merci au Comité des fêtes de Saint-Hilaire Saint-Mesmin pour le soutien
      logistique
    </span>
  </div>

  <div class="img">
    <img
      class="half"
      src="assets/image/sthilairestmesmin.jpeg"
      alt="photo de maire de st hilaire st mesmin"
    />
    <span class="legend">Merci à la Mairie de Saint-Hilaire Saint-Mesmin </span>
  </div>
</div>
