<div class="content">
  <p>
    Salut ! Moi c'est Aymeric et
    <a href="https://www.instagram.com/aymericdo/" target="blank"
      >j'aime bien faire de la pâtisserie</a
    >
    à mes heures perdues. Du mardi 20/07 au dimanche 01/08, j'ouvre une
    patisserie éphémère au
    <a
      href="https://www.google.fr/maps/place/47%C2%B052'23.2%22N+1%C2%B050'27.9%22E/@47.8731049,1.8405248,158m/data=!3m2!1e3!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d47.8731042!4d1.8410723?hl=fr"
      target="blank"
      ><b>Au Piaf du Loiret</b></a
    >, à Saint-Pryvé Saint-Mesmin. Tous les bénéfices seront reversés à
    <a
      href="https://www.franceinter.fr/emissions/l-esprit-d-initiative/l-esprit-d-initiative-16-aout-2019"
      target="blank"
      >Pâtisserie Solidaire</a
    >, une association qui distribue des invendus sucrés à des associations.
  </p>
</div>
