<div class="content">
  <p>
    Salut ! Moi c'est Aymeric et
    <a href="https://www.instagram.com/aymericdo/" target="blank"
      >j'aime bien faire de la pâtisserie</a
    >
    à mes heures perdues. Du mardi 20/07 au dimanche 01/08, j'ouvre une
    patisserie éphémère sur
    <a
      href="https://www.google.fr/maps/@47.869633,1.8377526,158m/data=!3m1!1e3?hl=fr"
      target="blank"
      ><b>le pâtis, au pied de la Mairie</b></a
    >, à Saint-Hilaire Saint-Mesmin. Tous les bénéfices seront reversés à
    <a
      href="https://www.franceinter.fr/emissions/l-esprit-d-initiative/l-esprit-d-initiative-16-aout-2019"
      target="blank"
      >Pâtisserie Solidaire</a
    >, une association qui distribue des invendus sucrés à des associations.
  </p>
  <div class="img">
    <img
      src="https://loirephemereback.herokuapp.com/photos/all.jpg"
      alt="photo de toutes les pâtisseries"
    />
  </div>
</div>
