<nz-tabset nzLinkRouter>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'ongoing' }" queryParamsHandling="merge">
      Commandes en cours
    </a>
    <ng-container *ngIf="(onGoingCommands$ | async)?.length === 0">
      <nz-empty></nz-empty>
    </ng-container>
    <div nz-row [nzGutter]="[0, 24]">
      <div *ngFor="let command of onGoingCommands$ | async" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="8">
        <div class="inner-box">
          <app-command-card [command]="command" [isLoading]="(isLoading$ | async)!"
            (clickDone)="handleClickDone(command)" (clickWizz)="handleClickWizz(command)"></app-command-card>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'past' }" queryParamsHandling="merge">
      Commandes passées
    </a>
    <ng-container *ngIf="(pastCommands$ | async)?.length === 0">
      <nz-empty></nz-empty>
    </ng-container>
    <nz-page-header>
      <nz-page-header-title *ngIf="(pastCommands$ | async)?.length">Total : {{ totalPayedCommands$ | async }}€
      </nz-page-header-title>
    </nz-page-header>
    <div nz-row [nzGutter]="[0, 24]">
      <div *ngFor="let command of pastCommands$ | async" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12" nzXl="8">
        <div class="inner-box">
          <app-command-card [command]="command" [isLoading]="(isLoading$ | async)!" [isDone]="true"
            [isPayed]="!!command.isPayed" (clickPayed)="handleClickPayed(command)"
            (clickWizz)="handleClickWizz(command)"></app-command-card>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </nz-tab>
</nz-tabset>

<button class="information" nz-button nz-popover nzType="dashed" nzSize="small" nzShape="circle"
  nzPopoverTitle="Information" [nzPopoverContent]="contentTemplate"><span nz-icon nzType="question"></span></button>

<ng-template #contentTemplate>
  <div>Les commandes ci-dessous sont celles de la journée courante.</div>
  <div>Nous gardons aussi dans cette liste les commandes qui n'ont pas été livrées, ou pas encore payées.</div>
</ng-template>
