:host {
  display: block;
  height: 100%;
  padding: 1.25rem 1.25rem 0 1.25rem;

  .information {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
  }

  .empty-section {
    min-height: 150px;
  }

  .data-section {
    padding-top: 0.875em;
  }

  ::ng-deep .ant-tabs-content-holder {
    overflow-y: auto;
  }

  ::ng-deep .ant-tabs-tabpane {
    overflow-y: hidden;
  }

  nz-tabset {
    padding-bottom: 6px;
    height: 100%;
  }
}
