:host {
  display: block;
  height: 100%;
  padding: 24px 24px 0 24px;

  ::ng-deep .ant-tabs-content-holder {
    overflow-y: auto;
    padding-top: 0.875em;
  }

  nz-tabset {
    padding-bottom: 6px;
    height: 100%;
  }
}
