<nz-card
  style="width: 300px"
  [nzCover]="coverTemplate"
  [nzActions]="[actionCount, actionMinus, actionPlus]"
>
  <nz-card-meta [nzTitle]="title" [nzDescription]="description"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img [alt]="'example-' + title" [src]="'assets/photos/' + imageUrl" />
</ng-template>
<ng-template #actionCount>
  <span *ngIf="!!count">{{ count }}</span>
</ng-template>
<ng-template #actionPlus>
  <i nz-icon nzType="plus" (click)="onClickPlus.emit()"></i>
</ng-template>
<ng-template #actionMinus>
  <i nz-icon nzType="minus" (click)="onClickMinus.emit()"></i>
</ng-template>
