:host {
  .steps-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;

    nz-steps {
      width: 80%;
    }
  }

  .content {
    padding: 2rem;
  }
}
