<div>
  <div class="steps-section">
    <nz-steps [nzCurrent]="currentStep">
      <nz-step nzTitle="Restaurant" nzIcon="coffee"></nz-step>
      <nz-step nzTitle="Utilisateur" nzIcon="user"></nz-step>
      <nz-step nzTitle="Terminé" nzIcon="check"></nz-step>
    </nz-steps>
  </div>

  <div class="form-section">
    <ng-container *ngIf="currentStep === 0">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Nom du restaurant</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzHasFeedback nzValidatingTip="En cours de validation..."
            [nzErrorTip]="restaurantNameErrorTpl">
            <input nz-input formControlName="name" placeholder="Gaufres et compagnie" />
            <ng-template #restaurantNameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Merci d'entrer un nom</ng-container>
              <ng-container *ngIf="control.hasError('minlength')">Merci d'entrer un nom de plus de {{ SIZE.MIN }} caractères
              </ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">Merci d'entrer un nom de moins de {{ SIZE.SMALL }} caractères
              </ng-container>
              <ng-container *ngIf="control.hasError('duplicated')">Le nom est déjà pris</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="form-action-row">
          <nz-form-control [nzSm]="{ span: 12, offset: 8 }" [nzXs]="24">
            <div nzFlex nz-row nzJustify="end">
              <nz-space>
                <button *nzSpaceItem nz-button (click)="resetForm($event)">Effacer</button>
                <button *nzSpaceItem nz-button nzType="primary" [disabled]="!validateForm.valid">Suivant</button>
              </nz-space>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
    <ng-container *ngIf="currentStep === 1">
      <div nz-row nzJustify="center">
        <div nz-col [nzSm]="20" [nzXs]="24">
          <nz-tabset>
            <nz-tab>
              Créer un compte
              <app-register></app-register>
            </nz-tab>
            <nz-tab>
              Se connecter
              <app-sign-in></app-sign-in>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>

    </ng-container>
  </div>
</div>
