<div class="users-section">
  <nz-page-header>
    <nz-page-header-title>{{ (restaurant$ | async)?.name }}</nz-page-header-title>
    <nz-page-header-subtitle>Utilisateurs</nz-page-header-subtitle>
    <nz-page-header-tags><nz-tag [nzColor]="'volcano'">Admin</nz-tag></nz-page-header-tags>
    <nz-page-header-extra>
      <div class="actions-btn">
        <nz-space nzAlign="center">
          <button *nzSpaceItem nz-button nzType="primary" nzBlock (click)="newUserModalOpened = true">
            <span nz-icon nzType="plus"></span>
            Ajouter un utilisateur
          </button>
        </nz-space>
      </div>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="users-table-section">
    <nz-table #basicTable [nzData]="(users$ | async)!" [nzLoading]="loading$ | async" [nzScroll]="{ x: '100%' }">
      <thead>
        <tr>
          <th>Email</th>
          <th>Créé le</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of (users$ | async); trackBy: trackById">
          <td>{{ user.email }}</td>
          <td>{{ user.createdAt | date: "dd/MM/YYYY HH:mm" }}</td>
          <td>
            <div nzFlex nz-row nzJustify="center">
              <button nz-button nzType="default" nzShape="circle" [disabled]="(users$ | async)?.length === 1"
              (click)="openDeleteUserConfirmationModal(user.email)"><span nz-icon nzType="delete"></span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<app-new-user-modal *ngIf="newUserModalOpened" [users]="(users$ | async)!" [restaurant]="(restaurant$ | async)!"
  (clickCancel)="newUserModalOpened = false">
</app-new-user-modal>
