<nz-modal [nzVisible]="true" nzTitle="Modifier la pâtisserie" nzCentered (nzOnCancel)="clickCancel.emit()" i18n-nzTitle>
  <ng-container *nzModalContent>
    <app-pastry-form [restaurant]="restaurant" [validateForm]="validateForm" [isEditing]="true"></app-pastry-form>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="submitForm()" [disabled]="!validateForm.valid" [nzLoading]="isLoading$ | async" i18n>Enregistrer</button>
  </ng-container>
</nz-modal>
