<div nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="6">
    <div class="inner-box"><app-card></app-card></div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="6">
    <div class="inner-box"><app-card></app-card></div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="6">
    <div class="inner-box"><app-card></app-card></div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="6">
    <div class="inner-box"><app-card></app-card></div>
  </div>
</div>
