<app-table-modal [isOpenTableModal]="isOpenTableModal"></app-table-modal>

<div nz-row [nzGutter]="[0, 24]">
  <div
    *ngFor="let pastry of pastries$ | async"
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzLg="12"
    nzXl="6"
  >
    <div class="inner-box">
      <app-card
        [pastry]="pastry"
        [count]="(selectedPastries$ | async)![pastry._id]"
        (onClickPlus)="handleClickPlus(pastry)"
        (onClickMinus)="handleClickMinus(pastry)"
      ></app-card>
    </div>
  </div>
</div>

<app-order-footer
  *ngIf="hasSelectedPastries$ | async"
  (onClickReset)="handleClickReset()"
  (onClickCommand)="handleClickCommand($event)"
  [allPastries]="(pastries$ | async)!"
  [selectedPastries]="(selectedPastries$ | async)!"
  [totalPrice]="(totalPrice$ | async)!"
></app-order-footer>
