:host {
  display: block;
  height: 100%;
  position: relative;

  .scrollable-zone {
    overflow-y: auto;
    height: calc(100% - 80px);
    padding: 24px;
  }

  ::ng-deep .ant-page-header-heading-left {
    flex-direction: column;
  }
}
