<div
  class="scrollable-zone"
  #scrollframe
  [class.-has-order-footer]="hasSelectedPastries$ | async"
>
  <nz-page-header>
    <nz-page-header-title>Loirephemere</nz-page-header-title>
    <nz-page-header-subtitle
      >Table : {{ currentTable }}</nz-page-header-subtitle
    >
    <nz-page-header-extra>
      <button nz-button nzType="default" (click)="handleTableChange()">
        <i nz-icon nzType="edit"></i>
        Table
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <div nz-row [nzGutter]="[0, 24]">
    <div
      *ngFor="let pastry of pastries$ | async; trackBy: tackById"
      nz-col
      nzXs="24"
      nzSm="24"
      nzMd="18"
      nzLg="12"
      nzXl="8"
    >
      <div class="inner-box">
        <app-card
          #item
          [pastry]="pastry"
          [isLoading]="(isLoading$ | async)!"
          [count]="(selectedPastries$ | async)![pastry._id] || 0"
          (onClickPlus)="handleClickPlus(pastry, $event)"
          (onClickMinus)="handleClickMinus(pastry)"
        ></app-card>
      </div>
    </div>
  </div>

  <app-footer *ngIf="!(hasSelectedPastries$ | async)"></app-footer>
</div>

<app-order-success-modal
  *ngIf="isSuccessModalVisible && (personalCommand$ | async)"
  [commandReference]="(personalCommand$ | async)?.reference!"
  (onClickCancel)="isSuccessModalVisible = false"
></app-order-success-modal>

<app-order-error-modal
  *ngIf="isSuccessModalVisible && (errorCommand$ | async)"
  [errors]="(errorCommand$ | async)!"
  (onClickCancel)="isSuccessModalVisible = false"
></app-order-error-modal>

<app-order-footer
  *ngIf="hasSelectedPastries$ | async"
  (onClickReset)="handleClickReset()"
  (onClickCommand)="handleClickCommand($event)"
  [stockIssue]="(isStockIssue$ | async)!"
  [allPastries]="(pastries$ | async)!"
  [selectedPastries]="(selectedPastries$ | async)!"
  [totalPrice]="(totalPrice$ | async)!"
></app-order-footer>
