:host {
  display: block;
  height: 100%;

  .container-section {
    height: 100%;
    padding: 1rem;
  }

  .content {
    display: flex;
  }

  .info-section,
  .qrcode-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .url {
      font-weight: 500;
    }
  }
}
