:host {
  display: block;
  height: 100%;

  .container-section {
    height: 100%;
    padding: 1rem;
  }

  .content {
    display: flex;
  }

  .week-day {
    text-transform: capitalize;
  }

  .time-picker-section {
    display: flex;
    width: 100%;

    ::ng-deep .ant-space-item {
      flex: 1;
    }

    ::ng-deep .ant-space-item:has(.duplicate-btn) {
      flex: initial;
    }

    nz-time-picker {
      width: 100%;
    }
  }

}
