<form nz-form [formGroup]="validateForm" nz-row nzJustify="center">
  <nz-form-item *ngFor="let weekDayNumber of weekDayNumbers" nz-col
    [nzLg]="14" [nzSm]="20" [nzXs]="24"
    [formGroupName]="weekDayNumber">
    <nz-form-label class="week-day">{{ weekDays[weekDayNumber] }}</nz-form-label>
    <nz-form-control>
      <nz-space class="time-picker-section" nzWrap>
        <nz-time-picker *nzSpaceItem formControlName="startTime" nzFormat="HH:mm" [nzMinuteStep]="15"></nz-time-picker>
        <nz-time-picker *nzSpaceItem formControlName="endTime" nzFormat="HH:mm" [nzMinuteStep]="15"></nz-time-picker>
        <button
          *nzSpaceItem class="action-btn" nz-button
          nzType="default" nzShape="circle" (click)="duplicate(weekDayNumber)"
          [disabled]="isLoading$ | async">
          <span nz-icon nzType="copy"></span>
        </button>
        <button
          *nzSpaceItem class="action-btn" nz-button
          nzType="default" nzShape="circle" (click)="closeDay(weekDayNumber)"
          [disabled]="(!validateForm.value[weekDayNumber].startTime && !validateForm.value[weekDayNumber].endTime) || (isLoading$ | async)">
          <span nz-icon nzType="close"></span>
        </button>
      </nz-space>
    </nz-form-control>
    <div class="opening-hin">{{ (isLoading$ | async) === false ? generateHint(weekDayNumber) : '' }}</div>
  </nz-form-item>

  <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
    <nz-form-control>
      <div nz-row nzJustify="end">
        <nz-space nzWrap>
          <button *nzSpaceItem nz-button (click)="resetForm($event)" [disabled]="isLoading$ | async">Réinitialiser</button>
          <button *nzSpaceItem nz-button (click)="submitForm()" nzType="primary" [disabled]="!validateForm.valid || (isLoading$ | async)">Enregistrer</button>
        </nz-space>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<app-information-popover>
  <div>Personne ne pourra faire une commande pour en dehors de ces horaires.</div>
</app-information-popover>
