:host {
  form {
    padding-bottom: 2rem;
  }

  .week-day {
    text-transform: capitalize;
  }

  .time-picker-section {
    display: flex;
    width: 100%;

    ::ng-deep .ant-space-item {
      flex: 1;
    }

    ::ng-deep .ant-space-item:has(.action-btn) {
      flex: initial;
    }

    nz-time-picker {
      width: 100%;
    }
  }

  .opening-hint {
    display: flex;
    justify-content: start;
    font-style: italic;
    font-weight: 400;
    max-width: 500px;
  }
}
