<div class="home-section" [class.-has-order-footer]="hasSelectedPastries$ | async">
  <nz-page-header>
    <nz-page-header-title>{{ (restaurant$ | async)?.name }}</nz-page-header-title>
  </nz-page-header>
  <div class="container-section">
    <ng-container *ngIf="(pastries$ | async)?.length === 0">
      <nz-empty></nz-empty>
    </ng-container>
    <div nz-row [nzGutter]="[0, 24]" nzJustify="center">
      <div *ngFor="let pastry of pastries$ | async; trackBy: trackById" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12"
        nzXl="8">
        <div class="inner-box">
          <app-pastry-card #item [pastry]="pastry" [isLoading]="(isLoading$ | async)!"
            [count]="(selectedPastries$ | async)![pastry.id] || 0" (clickPlus)="handleClickPlus(pastry)"
            (clickMinus)="handleClickMinus(pastry)"></app-pastry-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer *ngIf="(hasSelectedPastries$ | async) === false"></app-footer>
</div>

<app-order-success-modal *ngIf="isSuccessModalVisible && (personalCommand$ | async)"
  [commandReference]="(personalCommand$ | async)?.reference!" (clickCancel)="handleCloseSuccessModal()">
</app-order-success-modal>

<app-order-error-modal *ngIf="isSuccessModalVisible && (errorCommand$ | async)" [errors]="(errorCommand$ | async)!"
  (clickCancel)="isSuccessModalVisible = false"></app-order-error-modal>

<app-order-footer *ngIf="hasSelectedPastries$ | async" (clickReset)="handleClickReset()"
  (clickCommand)="handleClickCommand($event)" [stockIssue]="(isStockIssue$ | async)!"
  [allPastries]="(pastries$ | async)!" [selectedPastries]="(selectedPastries$ | async)!"
  [totalPrice]="(totalPrice$ | async)!"></app-order-footer>

<app-information-popover *ngIf="(demoResto$ | async)?.id && (demoResto$ | async)?.id === (restaurant$ | async)?.id">
  <div>Le restaurant <b>{{ (demoResto$ | async)?.name }}</b> permet à tout le monde de tester l'application.</div>
  <div>Vous pouvez donc prendre des commandes, manipuler, tester.</div>
  <div>La partie <b>admin</b> de ce resto existe, et elle est accessible à tout le monde, <b>une fois connecté.</b></div>
</app-information-popover>
