:host {
  display: block;
  height: 100%;
  position: relative;

  .home-section {
    height: 100%;
  }

  .shopping-cart {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
  }

  .container-section {
    padding: 1rem;
  }

  .home-section.-has-order-footer {
    margin-bottom: 80px;
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }
}
