<nz-alert *ngIf="(demoResto$ | async)?.id && (demoResto$ | async)?.id === (restaurant$ | async)?.id"
  nzBanner nzType="info" nzMessage="Restaurant de test : amusez-vous !" i18n-nzMessage></nz-alert>
<div class="home-section" [class.-has-order-footer]="hasSelectedPastries$ | async">
  <nz-page-header *ngIf="(restaurant$ | async) !== null">
    <nz-page-header-title>{{ (restaurant$ | async)?.name }}</nz-page-header-title>
    <nz-page-header-tags *ngIf="!isRestaurantOpened" i18n>
      Fermé pour le moment ⛔
      <span *ngIf="pickUpTimeAvailable">
        - Pré-commande disponible ✅
      </span>
    </nz-page-header-tags>
  </nz-page-header>
  <div class="container-section">
    <ng-container *ngIf="(pastries$ | async)?.length === 0">
      <nz-empty></nz-empty>
    </ng-container>
    <div nz-row [nzGutter]="[0, 24]" nzJustify="center">
      <div *ngFor="let pastry of pastries$ | async; trackBy: trackById" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="12"
        nzXl="8">
        <div class="inner-box">
          <app-pastry-card #item [pastry]="pastry" [isLoading]="(isLoading$ | async)!" [disabled]="!pickUpTimeAvailable"
            [count]="(selectedPastries$ | async)![pastry.id] || 0" (clickPlus)="handleClickPlus(pastry)"
            (clickMinus)="handleClickMinus(pastry)"></app-pastry-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer *ngIf="(hasSelectedPastries$ | async) === false"></app-footer>
</div>

<app-order-success-modal *ngIf="isSuccessModalVisible && (personalCommand$ | async)"
  [commandReference]="(personalCommand$ | async)?.reference!" (clickCancel)="handleCloseSuccessModal()">
</app-order-success-modal>

<app-order-error-modal *ngIf="isSuccessModalVisible && (errorCommand$ | async)" [errors]="(errorCommand$ | async)!"
  (clickCancel)="isSuccessModalVisible = false"></app-order-error-modal>

<app-order-footer *ngIf="hasSelectedPastries$ | async" (clickReset)="handleClickReset()"
  (clickConfirm)="isOrderModalVisible = true" [disabled]="(isStockIssue$ | async)! || !pickUpTimeAvailable"></app-order-footer>

<app-order-modal *ngIf="isOrderModalVisible" [allPastries]="(pastries$ | async)!" [selectedPastries]="(selectedPastries$ | async)!"
  [totalPrice]="(totalPrice$ | async)!" (clickCancel)="isOrderModalVisible = false" (clickOk)="isOrderModalVisible = false; isUltimateConfirmationVisible = true"></app-order-modal>

<app-order-name-modal *ngIf="isUltimateConfirmationVisible" (clickCancel)="isUltimateConfirmationVisible = false"
  (clickOk)="handleClickCommand($event)" [restaurant]="(restaurant$ | async)!"></app-order-name-modal>

<div *ngIf="hasSelectedPastries$ | async" class="shopping-cart">
  <nz-badge [nzCount]="(totalCount$ | async)!">
    <button nz-button nzType="primary" nzSize="large" nzShape="circle" (click)="isOrderModalVisible = true" [disabled]="!pickUpTimeAvailable">
      <span nz-icon nzType="shopping-cart"></span>
    </button>
  </nz-badge>
</div>

<app-information-popover *ngIf="(demoResto$ | async)?.id && (demoResto$ | async)?.id === (restaurant$ | async)?.id">
  <div i18n>Le restaurant <b>{{ (demoResto$ | async)?.name }}</b> permet à tout le monde de tester l'application.</div>
  <div i18n>Vous pouvez donc prendre des commandes, manipuler, tester.</div>
  <div i18n>La partie <b>admin</b> de ce resto existe, et elle est accessible à tout le monde, <b>une fois connecté.</b></div>
</app-information-popover>
