<nz-modal [nzVisible]="true" nzTitle="Confirmation" nzCentered [nzClosable]="false" [nzMaskClosable]="true"
  [nzFooter]="null">
  <ng-container *nzModalContent>
    <nz-result nzStatus="success" [nzTitle]="'Commande envoyée !'">
      <div nz-result-subtitle>
        Votre numéro de commande est le <b>{{ commandReference }}</b>.
      </div>
      <div nz-result-subtitle>
        <b>Pour être averti que votre commande est prête, restez connecté sur la
          page principale et attendez la notification.</b>
      </div>
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="clickCancel.emit()">
          Retour à la page principale
        </button>
      </div>
    </nz-result>
  </ng-container>
</nz-modal>
