<nz-modal [nzVisible]="true" nzTitle="Confirmation" i18n-nzTitle nzCentered [nzClosable]="false" [nzMaskClosable]="true"
  [nzFooter]="null">
  <ng-container *nzModalContent>
    <nz-result nzStatus="success" [nzTitle]="'Commande envoyée !'" i18n-nzTitle>
      <div nz-result-subtitle i18n>
        Votre numéro de commande est le <b>{{ command.reference }}</b>.
      </div>
      <div nz-result-subtitle i18n>
        <b>Pour être averti que votre commande est prête, ne rafraichissez pas la page d'accueil. Une notification vous préviendra.</b>
      </div>
      <div nz-result-extra>
        <nz-space nzDirection="vertical">
          <ng-container *ngIf="!!restaurant.paymentInformation?.paymentActivated && !command.isPayed">
            <ng-container *ngIf="(userWaiterMode$ | async); else defaultClient">
              <button *nzSpaceItem nz-button nzType="dashed" (click)="isPaymentQrCodeModalVisible = true" i18n>
                Transmettre la commande
              </button>
            </ng-container>
            <ng-template #defaultClient>
              <button *nzSpaceItem nz-button nzType="dashed" (click)="clickPayment.emit()" i18n>
                Payer votre commande
              </button>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="(userWaiterMode$ | async); else defaultClient">
            <button nz-button nzType="primary" *nzSpaceItem (click)="clickClose.emit()" i18n>
              Retour à la page d'accueil
            </button>
          </ng-container>
          <ng-template #defaultClient>
            <button nz-button nzType="primary" *nzSpaceItem (click)="clickGoNext.emit()" i18n>
              Retour à la page d'accueil
            </button>
          </ng-template>
        </nz-space>
      </div>
    </nz-result>
  </ng-container>
</nz-modal>

<app-payment-qr-code-modal *ngIf="isPaymentQrCodeModalVisible" (clickOk)="isPaymentQrCodeModalVisible = false;"
  [command]="command"></app-payment-qr-code-modal>
