<nz-tabset>
  <nz-tab nzTitle="Commandes en cours">
    <ng-container *ngIf="(onGoingCommands$ | async)?.length === 0"
      ><nz-empty></nz-empty
    ></ng-container>
    <div nz-row [nzGutter]="[0, 24]">
      <div
        *ngFor="let command of onGoingCommands$ | async"
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="18"
        nzLg="12"
        nzXl="8"
      >
        <div class="inner-box">
          <app-card
            [command]="command"
            [isLoading]="(isLoading$ | async)!"
            (onClickDone)="handleClickDone(command)"
            (onClickWizz)="handleClickWizz(command)"
          ></app-card>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Commandes passées">
    <ng-container *ngIf="(pastCommands$ | async)?.length === 0"
      ><nz-empty></nz-empty
    ></ng-container>
    <div nz-row [nzGutter]="[0, 24]">
      <div
        *ngFor="let command of pastCommands$ | async"
        nz-col
        nzXs="24"
        nzSm="24"
        nzMd="18"
        nzLg="12"
        nzXl="8"
      >
        <div class="inner-box">
          <app-card [command]="command" [isDone]="true"></app-card>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </nz-tab>
</nz-tabset>
