<nz-modal
  [nzVisible]="true"
  nzTitle="Veuillez indiquer votre table svp"
  nzCentered
  [nzClosable]="false"
  [nzMaskClosable]="true"
  (nzOnOk)="handleOkTableModal()"
>
  <ng-container *nzModalContent>
    <p>Regardez sur votre table, sous le QR Code apparait votre nom de table</p>
    <nz-select
      [(ngModel)]="currentTable"
      nzPlaceHolder="Choisissez votre table"
      style="width: 50%"
    >
      <nz-option
        *ngFor="let table of tables"
        [nzValue]="table"
        [nzLabel]="table"
      ></nz-option>
    </nz-select>
  </ng-container>
  <ng-container *nzModalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleOkTableModal()"
      [disabled]="!currentTable"
    >
      OK
    </button>
  </ng-container>
</nz-modal>
