<nz-modal
  [(nzVisible)]="isOpenTableModal"
  nzTitle="Veuillez indiquer votre table svp"
  nzCentered
  [nzClosable]="false"
  [nzMaskClosable]="true"
  (nzOnOk)="handleOkTableModal()"
>
  <ng-container *nzModalContent>
    <p>Regardez sur votre table, sous le QR Code apparait votre nom de table</p>
    <a nz-dropdown [nzDropdownMenu]="menu">
      {{ currentTable ? currentTable : "Votre table" }}
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li
          *ngFor="let table of tables"
          nz-menu-item
          (click)="currentTable = table"
        >
          {{ table }}
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
  <ng-container *nzModalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleOkTableModal()"
      [disabled]="!currentTable"
    >
      OK
    </button>
  </ng-container>
</nz-modal>
