<div class="content">
  <div class="year-selector">
    <nz-select
      [(ngModel)]="currentYear"
      (ngModelChange)="currentYearChange()"
      nzPlaceHolder="Choisissez l'année"
      style="width: 50%"
      >
      <nz-option
      *ngFor="let year of years"
      [nzValue]="year"
      [nzLabel]="year"
      ></nz-option>
    </nz-select>
  </div>

  <div class="row">
    <div class="chart">
      <app-chart
        *ngIf="pieChartLabels.length && pieChartData.length"
        [pieChartLabels]="pieChartLabels[0]"
        [pieChartData]="pieChartData[0]"
      ></app-chart>
      <span *ngIf="pastryTotal" class="total"
        ><div>Total de pâtisseries : {{ pastryTotal }}</div></span
      >
    </div>
    <div class="chart">
      <app-chart
        *ngIf="pieChartLabels.length && pieChartData.length"
        [pieChartLabels]="pieChartLabels[1]"
        [pieChartData]="pieChartData[1]"
      ></app-chart>
      <span *ngIf="drinkTotal" class="total">
        <div>Total de boissons : {{ drinkTotal }}</div></span
      >
    </div>
  </div>

  <div class="chart bar">
    <div>
      <canvas
        *ngIf="barChartData.length && barChartLabels.length"
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>

  <div class="chart bar">
    <div>
      <canvas
        *ngIf="barChartData2.length && barChartLabels.length"
        baseChart
        [datasets]="barChartData2"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
</div>
