:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #0b0b0b;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    justify-content: center;
  }

  .chart {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .chart.bar {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;

    > div {
      width: 100%;
      height: 100%;
      min-width: 900px;
      position: absolute;
      left: 0;
      padding: 1rem;
    }
  }

  .total {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-weight: 500;
    color: white;
  }

  @media screen and (max-width: 800px) {
    .content {
      min-height: 100%;
      height: auto;
    }

    .row {
      flex-direction: column;
    }

    .chart {
      min-height: 100vh;
    }
  }
}
