<div class="pie">
  <canvas
    *ngIf="pieChartLabels[0].length && pieChartData[0].length"
    baseChart
    [data]="pieChartData[0]"
    [labels]="pieChartLabels[0]"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>
  <span *ngIf="pastryTotal" class="total"
    ><div>Total de pâtisseries : {{ pastryTotal }}</div></span
  >
</div>
<div class="pie">
  <canvas
    *ngIf="pieChartLabels[1].length && pieChartData[1].length"
    baseChart
    [data]="pieChartData[1]"
    [labels]="pieChartLabels[1]"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend"
  >
  </canvas>
  <span *ngIf="drinkTotal" class="total">
    <div>Total de boissons : {{ drinkTotal }}</div></span
  >
</div>
