<nz-flex class="main" nz-row [nzJustify]="'space-between'">
  <nz-flex nz-col [nzVertical]="true">
    <h2 nz-typography><strong>{{ separator.name }}</strong></h2>
    <span nz-typography nzType="secondary">{{ separator.description }}</span>
  </nz-flex>
  <nz-flex nz-col *ngIf="isAdmin && !isLoading">
    <nz-space>
      <ng-container>
        <button  *nzSpaceItem nz-button nzType="default" nzShape="circle" nzSize="large" (click)="clickEdit.emit()">
          <span nz-icon nzType="edit"></span>
        </button>
      </ng-container>
      <ng-container *ngIf="separator.hidden; else visible">
        <button  *nzSpaceItem nzDanger nz-button nzType="primary" nzShape="circle" nzSize="large"
          (click)="clickActive.emit()">
          <span nz-icon nzType="eye-invisible"></span>
        </button>
      </ng-container>
      <ng-template #visible>
        <button *nzSpaceItem nz-button nzType="default" nzShape="circle" nzSize="large" (click)="clickDelete.emit()">
          <span nz-icon nzType="eye"></span>
        </button>
      </ng-template>
    </nz-space>
  </nz-flex>
</nz-flex>
