<nz-tabset nzCentered>
  <nz-tab nzTitle="Mon profil" i18n-nzTitle>
    <div class="content" nz-row nzJustify="center">
      <div nz-col [nzLg]="20" [nzXs]="24">
        <div nz-row nzJustify="center">
          <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
            <nz-form-label nzRequired i18n>Email</nz-form-label>
            <nz-form-control>
              <input nz-input [value]="(user$ | async)?.email" disabled placeholder="mail@mail.com" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
            <nz-form-label i18n>Afficher le {{ (demoResto$ | async)?.name }}</nz-form-label>
            <nz-form-control>
              <nz-switch
                [ngModel]="!!(user$ | async)?.displayDemoResto"
                (ngModelChange)="handleDisplayDemoResto($event)"
                [nzCheckedChildren]="checkedDisplayDemoRestoTemplate"
                [nzUnCheckedChildren]="unCheckedDisplayDemoRestoTemplate">
              </nz-switch>
              <ng-template #checkedDisplayDemoRestoTemplate>
                <span nz-icon nzType="eye"></span>
              </ng-template>
              <ng-template #unCheckedDisplayDemoRestoTemplate>
                <span nz-icon nzType="eye-invisible"></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Sécurité" i18n-nzTitle>
    <div class="content" nz-row nzJustify="center">
      <div nz-col [nzSm]="20" [nzXs]="24">
        <app-change-password></app-change-password>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
