<nz-tabset nzCentered>
  <nz-tab nzTitle="Moi">
    <div class="content" nz-row nzJustify="center">
      <div nz-col [nzLg]="20" [nzXs]="24">
        <div nz-row nzJustify="center">
          <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
            <nz-form-label nzRequired>Email</nz-form-label>
            <nz-form-control>
              <input nz-input [value]="(user$ | async)?.email" disabled placeholder="mail@mail.com" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Sécurité">
    <div class="content" nz-row nzJustify="center">
      <div nz-col [nzSm]="20" [nzXs]="24">
        <app-change-password></app-change-password>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
