:host {
  .container-section {
    height: 100%;
    padding: 1rem;
  }

  .progress-chart {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 6px;
  }

  .dashboard-label {
    margin-top: 1rem;
  }
}
