:host {
  display: flex;
  z-index: 1;

  nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
  }

  .logo {
    height: 32px;
  }

  ul {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
  }

  .version {
    display: flex;
    justify-content: center;
    padding: 24px;
  }

  .block {
    flex: 1;
  }

  @media screen and (max-width: 800px) {
    nz-sider {
      overflow: inherit;
    }
  }
}
