<nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item [nzSelected]="isHome()">
      <a [routerLink]="['/']">
        <i nz-icon nzType="heart"></i>
        <span>Pâtisseries</span>
      </a>
    </li>
    <li nz-menu-item [nzMatchRouter]="true">
      <a [routerLink]="['/about']">
        <i nz-icon nzType="question"></i>
        <span>À propos</span>
      </a>
    </li>
    <li nz-submenu nzTitle="Admin" nzIcon="lock">
      <ul>
        <li nz-menu-item [nzMatchRouter]="true">
          <a [routerLink]="['/', 'admin', 'commands']">
            <i nz-icon nzType="shopping-cart"></i>
            <span>Commandes</span>
          </a>
        </li>
        <li nz-menu-item [nzMatchRouter]="true">
          <a [routerLink]="['/', 'admin', 'stats']">
            <i nz-icon nzType="pie-chart"></i>
            <span>Stats</span>
          </a>
        </li>
      </ul>
    </li>
    <div class="block"></div>
    <li>
      <span class="version">v2.0.1</span>
    </li>
  </ul>
</nz-sider>
