<nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item [nzSelected]="isHome()">
      <a [routerLink]="['/', '']">
        <i nz-icon nzType="heart"></i>
        <span>Pâtisseries</span>
      </a>
    </li>
    <li nz-menu-item [nzMatchRouter]="true">
      <a [routerLink]="['/', 'admin']">
        <i nz-icon nzType="lock"></i>
        <span>Admin</span>
      </a>
    </li>
  </ul>
</nz-sider>
