<nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item [nzSelected]="routeName === 'home'">
      <a [routerLink]="[restaurantCode || DEMO_RESTO]">
        <i nz-icon nzType="heart"></i>
        <span>Pâtisseries</span>
      </a>
    </li>

    <li *ngIf="isLoggedIn" nz-submenu [nzOpen]="!!(userRestaurants$ | async)?.length || routeName === 'new-restaurant'"
      nzTitle="Restaurants" nzIcon="coffee">
      <ul>
        <li nz-menu-item [nzMatchRouter]="true">
          <a [routerLink]="['page', 'restaurant', 'new']">
            <i nz-icon nzType="plus"></i>
            <span>Nouveau</span>
          </a>
        </li>
        <ng-container *ngFor="let restaurant of (userRestaurants$ | async)">
          <li nz-submenu [nzTitle]="restaurant.name" nzIcon="coffee" [nzOpen]="!isAdminCollapsed"
            (nzOpenChange)="isAdminCollapsed = !isAdminCollapsed">
            <ul>
              <li nz-menu-item [nzSelected]="routeName === 'menu'">
                <a [routerLink]="[restaurant.code, 'admin', 'menu']">
                  <i nz-icon nzType="shopping-cart"></i>
                  <span>Menu</span>
                </a>
              </li>
              <li nz-menu-item [nzSelected]="routeName === 'commands'">
                <a [routerLink]="[restaurant.code, 'admin', 'commands']">
                  <i nz-icon nzType="alert"></i>
                  <span>Commandes</span>
                </a>
              </li>
              <li nz-menu-item [nzSelected]="routeName === 'stats'">
                <a [routerLink]="[restaurant.code, 'admin', 'stats']">
                  <i nz-icon nzType="pie-chart"></i>
                  <span>Stats</span>
                </a>
              </li>
              <li nz-menu-item [nzSelected]="routeName === 'users'">
                <a [routerLink]="[restaurant.code, 'admin', 'users']">
                  <i nz-icon nzType="user"></i>
                  <span>Utilisateurs</span>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </li>

    <li nz-menu-item [nzMatchRouter]="true">
      <a [routerLink]="['page', 'about']">
        <i nz-icon nzType="question"></i>
        <span>À propos</span>
      </a>
    </li>
    <div class="block"></div>
    <li nz-submenu [nzOpen]="!isUserCollapsed" (nzOpenChange)="isUserCollapsed = !isUserCollapsed" [nzTitle]="titleTpl"
      nzIcon="user">
      <ul>
        <li *ngIf="isLoggedIn" nz-menu-item>
          <a (click)="handleDisconnect()">
            <i nz-icon nzType="logout"></i>
            <span>Se déconnecter</span>
          </a>
        </li>
        <li *ngIf="!isLoggedIn" nz-menu-item [nzMatchRouter]="true">
          <a [routerLink]="['page', 'login']">
            <i nz-icon nzType="login"></i>
            <span>Connexion</span>
          </a>
        </li>
        <li>
          <span class="version">v3.0.0</span>
        </li>
      </ul>
    </li>

    <ng-template #titleTpl>
      <ng-container *ngIf="isLoggedIn">
        <span class="account-name-tooltip" nz-tooltip [nzTooltipTitle]="(user$ | async)?.email"
          [nzTooltipMouseEnterDelay]="1">
          <span class="account-name">{{ (user$ | async)?.email }}</span>
        </span>
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <span>Mon compte</span>
      </ng-container>
    </ng-template>
  </ul>
</nz-sider>
