:host {
  display: flex;
  z-index: 5;

  .main-link {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .loading-section {
    display: flex;
    justify-content: center;
    align-items: center;

    &.large-height {
      height: 200px;
    }
  }

  nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .logo {
    height: 32px;
  }

  ul {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
  }

  .version {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
  }

  .block {
    flex: 1;
  }

  .admin-section-title {
    position: relative;
    width: 100%;

    .admin-tag {
      position: absolute;
      bottom: 0;
      left: 0;
      line-height: 8px;
      height: 10px;
      font-size: 8px;
      font-weight: bold;
    }
  }

  .restaurant-name-tooltip,
  .account-name-tooltip {
    width: 100%;
  }

  ::ng-deep .ant-menu-submenu-title:has(.restaurant-name-tooltip.-restaurant-title-selected) {
    background-color: var(--blue);
  }

  ::ng-deep .restaurant-section {
    max-height: 400px;
    overflow-y: auto;
  }

  .row-border-left {
    border-left: 3px solid transparent;
  }

  ::ng-deep .restaurant-name,
  ::ng-deep .account-name {
    display: block;
    max-width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: var(--lg)) {
    nz-sider {
      overflow: inherit;
    }

    .overlay {
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 1000;
      backdrop-filter: blur(6px);
    }
  }
}
