<nz-footer>
  <button
    nz-button
    nzType="default"
    nzSize="default"
    nzShape="round"
    (click)="showResetConfirm()"
  >
    <i nz-icon nzType="stop"></i>Annuler
  </button>
  <button
    nz-button
    nzType="primary"
    nzSize="default"
    nzShape="round"
    (click)="isOrderModalVisible = true"
  >
    <i nz-icon nzType="check"></i>Commander
  </button>
</nz-footer>

<app-order-modal
  *ngIf="isOrderModalVisible"
  [allPastries]="allPastries"
  [selectedPastries]="selectedPastries"
  [totalPrice]="totalPrice"
  (onClickCancel)="isOrderModalVisible = false"
  (onClickOk)="
    isOrderModalVisible = false; isUltimateConfirmationVisible = true
  "
></app-order-modal>

<app-order-name-modal
  *ngIf="isUltimateConfirmationVisible"
  (onClickCancel)="isUltimateConfirmationVisible = false"
  (onClickOk)="handleClickConfirm($event)"
></app-order-name-modal>
