<nz-footer>
  <button
    nz-button
    nzType="default"
    nzSize="default"
    nzShape="round"
    (click)="showResetConfirm()"
  >
    <i nz-icon nzType="stop"></i>Annuler
  </button>
  <button
    nz-button
    nzType="primary"
    nzSize="default"
    nzShape="round"
    (click)="showConfirm()"
  >
    <i nz-icon nzType="check"></i>Commander
  </button>
</nz-footer>

<nz-modal
  [(nzVisible)]="isUltimateConfirmationVisible"
  nzTitle="Veuillez indiquer votre prénom svp"
  nzCentered
  (nzOnCancel)="isUltimateConfirmationVisible = false"
>
  <ng-container *nzModalContent>
    <input nz-input placeholder="Votre prénom" [(ngModel)]="currentFirstName" />
  </ng-container>
  <ng-container *nzModalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleClickConfirm()"
      [disabled]="!currentFirstName.length"
    >
      Envoyer
    </button>
  </ng-container>
</nz-modal>
