
:host {
  position: fixed;
  right: 0;
  bottom: 0;
  width: calc(100% - 200px);
  z-index: 2;
  box-shadow: 0 0 20px #050505;

  nz-footer {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 992px) {
    width: calc(100%);
  }
}
