:host {
  .layout {
    overflow: hidden;
    flex-direction: row;
  }

  .inner-layout {
    min-height: 100vh;
  }

  .inner-content {
    background: #fff;
    min-height: 100vh;
    height: 100vh;
    overflow-y: auto;
  }
}
