@import 'src/vars.scss';

:host {
  .layout {
    overflow: hidden;
    flex-direction: row;
    min-height: 100vh;
  }

  .inner-content {
    height: 100%;
    width: 100%;
    max-width: 100vw;
  }

  .right-layout {
    margin-left: 200px;
  }

  .right-layout.-is-sider-collapsed {
    margin-left: 0;
  }

  @media screen and (max-width: $lg) {
    .right-layout {
      margin-left: inherit;
    }
  }
}
