<div class="content" nz-row nzJustify="center">
  <div nz-col [nzLg]="20" [nzXs]="24">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-row nzJustify="center">
      <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
        <nz-form-label nzRequired>Email</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userEmailErrorTpl">
          <input nz-input formControlName="email" placeholder="mail@mail.com" />
          <ng-template #userEmailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Merci d'entrer un email</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
        <nz-form-label nzRequired>Mot de passe</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="userPasswordErrorTpl">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
              placeholder="**********" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></span>
          </ng-template>
          <ng-template #userPasswordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('error')">Votre mot de passe ne correspond pas</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
        <nz-form-control>
          <div nz-row nzJustify="end">
            <nz-space nzWrap nzAlign="center">
              <ng-container *ngIf="isInLoginPage">
                <a *nzSpaceItem [routerLink]="['.', 'recover']">Mot de passe oublié ?</a>
              </ng-container>
              <button *nzSpaceItem nz-button [nzLoading]="(isLoading$ | async) === true" nzType="primary"
                [disabled]="!validateForm.valid">Se connecter</button>
            </nz-space>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
