<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzHasFeedback
      [nzErrorTip]="userEmailErrorTpl">
      <input nz-input formControlName="email" placeholder="mail@mail.com" />
      <ng-template #userEmailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Merci d'entrer un email</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Mot de passe</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzHasFeedback [nzErrorTip]="userPasswordErrorTpl">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          formControlName="password"
          placeholder="**********"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <span
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></span>
      </ng-template>
      <ng-template #userPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('error')">Votre mot de passe ne correspond pas</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="form-action-row">
    <nz-form-control [nzSm]="{ span: 12, offset: 8 }" [nzXs]="24">
      <div nzFlex nz-row nzJustify="end">
        <nz-space>
          <button *nzSpaceItem nz-button [nzLoading]="(isLoading$ | async) === true" nzType="primary" [disabled]="!validateForm.valid">Se connecter</button>
        </nz-space>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
