:host {
  display: block;
  height: 100%;
  position: relative;

  .menu-section {
    height: 100%;
  }

  .container-section {
    height: 100%;
    padding: 1rem;
  }

  .actions-btn {
    .association-mode-btn,
    .sequence-mode-btn {
      display: block;
    }

    .more-btn {
      display: none;
    }
  }

  .pastry-list {
    margin-top: 2rem;
  }

  @media screen and (max-width: 992px) {
    .actions-btn {

      .association-mode-btn,
      .sequence-mode-btn {
        display: none;
      }

      .more-btn {
        display: block;
      }
    }
  }
}
