<nz-modal [nzVisible]="true" nzCentered nzTitle="Mot de passe oublié" i18n-nzTitle [nzClosable]="false">
  <form nz-form [formGroup]="validateForm">
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired i18n>Mot de passe</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="userPasswordErrorTpl">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
              placeholder="**********" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"></span>
          </ng-template>

          <ng-template #userPasswordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')" i18n>
              Merci d'entrer un mot de passe
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')" i18n>
              Merci d'entrer un mot de passe de plus de {{ SIZE.MIN_PASSWORD }} caractères
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')" i18n>
              Merci d'entrer un mot de passe de moins de {{ SIZE.LARGE }} caractères
            </ng-container>
            <ng-container *ngIf="!control.hasError('minlength') && control.hasError('pattern')" i18n>
              Le mot de passe doit contenir au moins un chiffre, une majuscule et une lettre minuscule.
              Il doit aussi comporter au moins un caractère spécial parmi {{ PASSWORD_SPECIALS_CHARS }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired i18n>Confirmation</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="userConfirmPasswordErrorTpl">
          <input [type]="'password'" nz-input formControlName="confirmPassword" placeholder="**********" />

          <ng-template #userConfirmPasswordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')" i18n>
              Merci d'entrer la confirmation
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')" i18n>
              Merci d'entrer un mot de passe de plus de {{ SIZE.MIN_PASSWORD }} caractères
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')" i18n>
              Merci d'entrer un mot de passe de moins de {{ SIZE.LARGE }} caractères
            </ng-container>
            <ng-container *ngIf="control.hasError('confirmedValidator')" i18n>
              Merci de confirmer avec le même mot de passe
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <ng-container *nzModalFooter>
      <button nz-button nzType="primary" (click)="submitForm()" [disabled]="!validateForm.valid"
        [nzLoading]="isLoading$ | async" i18n>Réinitialiser le mot de passe</button>
    </ng-container>
  </form>
</nz-modal>
