@import 'src/vars.scss';

:host {
  display: block;
  overflow: auto;
  height: 100%;
  min-width: 200px;
  padding: 1rem;
  background: white;

  .full-page {
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .title {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: -5rem;
  }

  .middle-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  .bottom-row {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;

    > .feature {
      display: flex;
      flex-direction: column;
      align-items: center;

      > button {
        width: 120px;
        height: 120px;

        > span {
          font-size: 3rem;
        }
      }

      > a > button.social {
        width: 50px;
        height: 50px;

        > span {
          font-size: 2rem;
        }
      }

      > h3 {
        font-weight: 500;
        margin-top: 1rem;
      }
    }
  }

  .bottom-row.social {
    display: flex;
    justify-content: space-evenly;

    > .feature {
      > a > button.social {
        width: 50px;
        height: 50px;

        > span {
          font-size: 1.6rem;
        }
      }
    }
  }

  h1 {
    font-size: 4rem;
  }

  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    position: absolute;
  }

  nz-timeline {
    font-weight: 500;
  }

  .more-info {
    padding: 2rem;
  }

  .content {
    padding: 2rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .sub-content {
    width: 80%;
  }

  @media screen and (max-width: $lg) {
    .title {
      max-width: inherit;
    }

    .sub-content {
      width: 100%;
    }
  }
}
