@import 'src/vars.scss';

:host {
  display: block;
  overflow: auto;
  height: 100%;
  min-width: 200px;
  background: white;
  font-family: PT Sans Narrow;

  .go-down-btn {
    display: none;
  }

  .full-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .full-page {
    position: relative;
    z-index: 1;
  }

  .more-info,
  .footer {
    position: relative;
    z-index: 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .sub-title {
    margin-top: 1rem;
    font-weight: 500;
    transition: opacity ease-in 500ms;

    &.-has-scrolled {
      opacity: 0;
    }
  }

  .wave-separation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .middle-row {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .bottom-row {
    padding-top: 5rem;
  }

  .button-line {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;

    > .feature {
      display: flex;
      flex-direction: column;
      align-items: center;

      > button {
        width: 120px;
        height: 120px;

        > span {
          font-size: 3rem;
        }
      }

      > a > button.social {
        width: 50px;
        height: 50px;

        > span {
          font-size: 2rem;
        }
      }

      > h3 {
        font-weight: 500;
        margin-top: 1rem;
      }
    }
  }

  .footer {
    > .feature {
      > a > button.social {
        width: 50px;
        height: 50px;

        > span {
          font-size: 1.6rem;
        }
      }
    }
  }

  ::ng-deep .ant-affix {
    width: 100% !important;
    left: 0 !important;
  }

  .affix-section {
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: background-color 0s;
    z-index: 2;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 0;
      margin-left: 0.625rem;
    }

    .logo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: 0;
    }

    &.-has-scrolled {
      background-color: white;
      transition: background-color 250ms ease-in;
      padding: 0.875rem;
      padding-left: 10rem;

      h1 {
        font-size: 2rem;
      }

      .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 0;
      }
    }
  }

  .timeline-section {
    padding-top: 150px;
  }

  ::ng-deep nz-timeline .ant-timeline .ant-timeline-item  {
    font-size: 1rem;
  }

  ::ng-deep nz-timeline .ant-timeline .ant-timeline-item-label  {
    font-weight: bold;
  }

  .more-info {
    padding: 2rem;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .content {
    padding: 2rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .sub-content {
    width: 80%;
  }

  .section {
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
    flex-wrap: wrap;
    margin-top: 1rem;

    h2 {
      font-size: 3rem;
      font-weight: 600;
    }

    &.-swap {
      flex-direction: row-reverse;
      .image {
        transform: translate(-200px, -200px);
      }
    }

    .image {
      display: flex;
      justify-content: center;
      padding-top: 100px;
      transform: translate(200px, -200px);
      opacity: 0;
      transition: transform ease 1s, opacity ease-in 1s;

      &.-visible {
        opacity: 1;
        transform: translate(0, 0);
      }

      img {
        width: 500px;
      }
    }
  }

  @media screen and (max-width: $lg) {
    .go-down-btn {
      display: flex;
      justify-content: center;
      height: 200px;
      align-items: center;
    }

    .full-page {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .title {
      max-width: inherit;
      padding-top: 50%;
      padding-bottom: 50%;
      justify-content: center;
    }

    .timeline-section {
      padding-top: 0;
    }

    .more-info {
      padding: 2rem;
      width: 100%;
      left: 0;
      transform: none;
    }

    .affix-section.-has-scrolled {
      padding-left: 0.875rem;
    }

    .sub-content {
      width: 100%;
    }

    .middle-row {
      flex-direction: column;
    }

    .section {
      &.-swap {
        flex-direction: row;
      }

      h2 {
        font-size: 2rem;
        font-weight: 600;
      }

      .image {
        img {
          width: 90%;
        }
      }
    }

    .bottom-row {
      padding-top: 0;
      > .feature {
        > button {
          width: 60px;
          height: 60px;

          > span {
            font-size: 1.4rem;
          }
        }

        > h3 {
          display: none;
        }
      }
    }
  }
}
