<div class="content">
  <div class="sub-content">
    <p>
      Salut ! Moi c'est Aymeric, je suis <a href="https://www.linkedin.com/in/aymeric-dominique/"
        target="blank">développeur
        web</a> et
      <a href="https://www.instagram.com/aymericdo/" target="blank">j'aime faire de la pâtisserie</a>
      à mes heures perdues.
    </p>
    <p>
      Il se trouve que j'ai fait deux étés de suite une patisserie éphèmere, dans le village de mon enfance, et qu'à
      cette occasion, j'ai créé cette application pour gérer les commandes.
    </p>
    <p>
      Je me doute bien que je suis pas le premier, et sans doute pas le dernier à créer ce genre de système. Cependant,
      j'aimerais le rendre accessible au plus grand nombre.
    </p>
    <p>
      <a href="https://www.larep.fr/saint-hilaire-saint-mesmin-45160/loisirs/un-rendez-vous-patissier-gourmand-plebiscite_13995077/"
        target="blank">La pâtisserie éphèmere</a> était à but non lucratif et nous a permis de reverser quelque milliers
      d'euros à <a href="https://www.instagram.com/p/CQfi_pboxwM/" target="blank">Pâtisserie Solidaire</a>, une
      association qui distribue des invendus sucrés à des associations
      comme les Restos du Cœur.
    </p>
    <p>
      Vous l'aurez compris, l'idée ici n'est toujours pas de devenir millionnaire mais juste de
      donner accès à un outil au plus grand nombre.
    </p>
    <p>
      <b>L'accès est actuellement gratuit, et si cela ne devient pas soutenable, il ne sera jamais plus cher que 5€ par
        mois</b>
    </p>
  </div>
</div>
