@import 'src/vars.scss';

:host {
  display: block;
  overflow: auto;
  height: 100%;
  min-width: 200px;

  .content {
    padding: 2rem 3rem;
    text-align: justify;
    display: flex;
    justify-content: center;
  }

  .sub-content {
    width: 50%;
  }

  @media screen and (max-width: $lg) {
    .sub-content {
      width: 100%;
    }
  }
}
