<div nz-row nzJustify="center">
  <div nz-col [nzSm]="20" [nzXs]="24">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.', 'register']">
          Créer un compte
        </a>
        <nz-spin *ngIf="(isLoading$ | async) === true" nzSimple [nzSize]="'large'"></nz-spin>
        <router-outlet *ngIf="(isLoading$ | async) === false"></router-outlet>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']">
          Se connecter
        </a>
        <nz-spin *ngIf="(isLoading$ | async) === true" nzSimple [nzSize]="'large'"></nz-spin>
        <router-outlet *ngIf="(isLoading$ | async) === false" name="login-outlet"></router-outlet>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
