<div nz-row nzJustify="center">
  <div nz-col [nzXs]="24">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.', 'register']">
          Créer un compte
        </a>
        <router-outlet></router-outlet>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']">
          Se connecter
        </a>
        <router-outlet name="sign-in-outlet"></router-outlet>
      </nz-tab>
      <nz-tab *ngIf="isOnRecover">
        <a *nzTabLink nz-tab-link [routerLink]="['.', 'recover']">
          Mot de passe oublié
        </a>
        <app-recover></app-recover>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
