<div nz-row nzJustify="center">
  <div nz-col [nzXs]="24">
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.', 'register']" i18n>
          Créer un compte
        </a>
        <app-register></app-register>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['.']" i18n>
          Se connecter
        </a>
        <app-sign-in></app-sign-in>
      </nz-tab>
      <nz-tab *ngIf="isOnRecover">
        <a *nzTabLink nz-tab-link [routerLink]="['.', 'recover']" i18n>
          Mot de passe oublié
        </a>
        <app-recover></app-recover>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
