<nz-modal [nzVisible]="true" nzCentered [nzMaskClosable]="true" (nzOnCancel)="clickCancel.emit()">
  <ng-container *nzModalTitle>
    <span i18n>Ristourne sur la commande&nbsp;: #{{ command.reference }}</span>
  </ng-container>

  <ng-container *nzModalContent>
    <div class="promo-modal-content">
      <p i18n>Prix total de la commande&nbsp;: (<span [class.-line-through]="promotionPrice > 0">{{ command.totalPrice }}€</span>)
        <span *ngIf="promotionPrice > 0" class="new-price">({{ (command.totalPrice - promotionPrice) | number : '1.0-2' }}€)</span>
      </p>
      <div>
        <div class="gift-section">
          <div style="border-bottom: 1px solid rgb(233, 233, 233);">
            <label
              nz-checkbox
              [(ngModel)]="allChecked"
              (ngModelChange)="updateAllChecked()"
              [nzIndeterminate]="optionsSelected.length > 0 && optionsSelected.length !== options.length"
              i18n
            >
              Tout cocher
            </label>
          </div>
          <br />
          <nz-checkbox-group [nzOptions]="options" [(ngModel)]="optionsSelected" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
        </div>

        <div class="percentage-section">
          <!-- <nz-input-number
            [(ngModel)]="percentagePromoValue"
            (ngModelChange)="handlePromoChanged()"
            [nzStep]="1"
            [nzMax]="100"
            [nzMin]="0"
          >
            <nz-icon nzInputAddonBefore nzType="percentage" />
          </nz-input-number> -->
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *nzModalFooter>
    <button nz-button nzType="default" (click)="clickCancel.emit()" i18n>Annuler</button>
    <button nz-button nzType="primary" (click)="validatingCommandPrice()" [disabled]="!promotionPrice" i18n>OK</button>
  </ng-container>
</nz-modal>
