<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Nom</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="En cours de validation..."
      [nzErrorTip]="restaurantNameErrorTpl">
      <input nz-input formControlName="name" placeholder="Gaufre choco fraise" />
      <ng-template #restaurantNameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Merci d'entrer un nom</ng-container>
        <ng-container *ngIf="control.hasError('minlength')">Merci d'entrer un nom de plus de {{ SIZE.MIN }} caractères
        </ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">Merci d'entrer un nom de moins de {{ SIZE.SMALL }}
          caractères</ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">Le nom est déjà pris</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="descriptionErrorTpl">
      <nz-textarea-count [nzMaxCharacterCount]="SIZE.LARGE">
        <textarea rows="4" nz-input formControlName="description"
          placeholder="Le goût puissant d'une pâte à tartiner maison + coulis de fraise"></textarea>
      </nz-textarea-count>
      <ng-template #descriptionErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Merci d'entrer une description</ng-container>
        <ng-container *ngIf="control.hasError('minlength')">Merci d'entrer une description de plus de {{ SIZE.MIN }}
          caractères</ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">Merci d'entrer une description de moins de {{ SIZE.LARGE }}
          caractères</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Prix</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="priceErrorTpl">
      <nz-input-number-group nzAddOnAfter="€">
        <nz-input-number formControlName="price" [nzStep]="0.5" [nzMin]="0" placeholder="3"></nz-input-number>
      </nz-input-number-group>
      <ng-template #priceErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Merci d'entrer un prix (même 0)</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Ingrédients</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-tag *ngFor="let ingredient of validateForm.value.ingredients; let i = index"
        [nzMode]="'closeable'" (nzOnClose)="handleClose(ingredient)">
        {{ (ingredient.length > 20) ? (ingredient | slice:0:20) + '…' : ingredient }}
      </nz-tag>
      <nz-tag *ngIf="!ingredientsInputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
        <span nz-icon nzType="plus"></span>
        Ajouter
      </nz-tag>
      <input #inputElement nz-input nzSize="small" *ngIf="ingredientsInputVisible" type="text"
        [attr.maxlength]="SIZE.SMALL" [value]="ingredientsInputValue" (input)="handleIngredientsChanges($event)"
        style="width: 78px;" (blur)="handleInputConfirm(false)" (keydown.enter)="handleInputConfirm()" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Stock</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-number formControlName="stock" (input)="handleStockChanges()" [nzStep]="1" [nzMin]="0"
      [nzPlaceHolder]="validateForm.getRawValue().stock === null ? '∞' : '50'"></nz-input-number>
    </nz-form-control>
    <nz-form-label [nzSm]="8" [nzXs]="24">Stock infini</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch [ngModel]="validateForm.getRawValue().stock === null" (ngModelChange)="handleInfiniteStock($event)"
        [ngModelOptions]="{ standalone: true }"
        [nzCheckedChildren]="checkedTemplate"
        [nzUnCheckedChildren]="unCheckedTemplate">
      </nz-switch>
      <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
      <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Visibilité</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-radio-group formControlName="hidden">
        <label nz-radio-button [nzValue]="true">Caché</label>
        <label nz-radio-button [nzValue]="false">Visible</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Type</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-radio-group formControlName="type">
        <label nz-radio [nzValue]="'pastry'">Nourriture</label>
        <label nz-radio [nzValue]="'drink'">Boisson</label>
        <label nz-radio [nzValue]="'tip'">Pourboire</label>
        <label nz-radio [nzValue]="'other'">Autre</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="isEditing">
    <nz-form-label [nzSm]="8" [nzXs]="24">Ordre d'affichage</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-input-number formControlName="displaySequence" [nzStep]="1" [nzMin]="0"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Photo</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <div class="clearfix">
        <nz-upload [nzAction]="uploadUrl" nzListType="picture-card" [(nzFileList)]="fileList"
          (nzChange)="handleUpload($event)" [nzShowButton]="fileList.length === 0" [nzPreview]="handlePreview">
          <div>
            <span nz-icon nzType="plus"></span>
            <div style="margin-top: 8px">Upload</div>
          </div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
          (nzOnCancel)="previewVisible = false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
