<nz-list *ngIf="(pastries$ | async)?.length" nzBordered cdkDropList class="pastry-sequence-list"
  (cdkDropListDropped)="drop($event)">
  <nz-list-item class="pastry-sequence-box" [class.-loading]="isMoving$ | async"
    *ngFor="let pastry of pastries$ | async; trackBy: trackById" cdkDrag [cdkDragData]="pastry" [cdkDragStartDelay]="100">
    <div class="pastry-sequence-custom-placeholder" *cdkDragPlaceholder>
      <span>{{ pastry.name }}</span>
    </div>
    <div *cdkDragPreview></div>
    <span>{{ pastry.name }}</span>
    <nz-space class="badges-section" nzAlign="center">
      <nz-badge *nzSpaceItem class="hidden-badge" [nzCount]="iconHidden" nzStandalone [nzTitle]="'hidden'"></nz-badge>
      <nz-badge *nzSpaceItem class="sequence-badge" nzStandalone nzShowZero [nzCount]="pastry.displaySequence + 1"
        [nzTitle]="'displaySequence'"></nz-badge>
    </nz-space>
    <ng-template #iconHidden>
      <span *ngIf="pastry.hidden" nz-icon nzType="eye-invisible"></span>
    </ng-template>
  </nz-list-item>

  <div *ngIf="isMoving$ | async" class="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</nz-list>

<app-information-popover>
  <div>Vous pouvez ordonner les pâtisseries dans l'ordre que vous le souhaitez.</div>
  <div>Il vous suffit de déplacer les lignes en les faisant glisser.</div>
</app-information-popover>
