@import 'src/vars.scss';

:host {
  display: flex;
  justify-content: center;

  nz-card {
    width: 300px;
    max-width: 100%;
  }

  nz-badge.stock-badge {
    width: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $green;
    border-radius: 10px;
    color: white;
    padding: 0 8px;
    box-shadow: 0 0 0 1px #fff;
    display: flex;
    align-items: center;
  }

  .-is-admin {
    ::ng-deep .ant-card-cover {
      position: relative;

      >img {
        transition: opacity 250ms;
      }

      &:hover {
        >img {
          opacity: 0.6;
        }
      }
    }
  }

  .card-actions-btn {
    display: flex;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &>.block-btn {
      padding: 0.625rem;
    }
  }

  .card-image {
    min-height: 300px;
  }

  .template-description.-mobile,
  .mobile-card-image {
    display: none;
  }

  .display-sequence-badge {
    position: absolute;
    top: -10px;
    left: -10px;
  }

  nz-badge.display-sequence-badge {
    box-shadow: 0 0 0 2px #000;
    border-radius: 10px;
  }

  ::ng-deep nz-badge.display-sequence-badge nz-badge-sup {
    background-color: #fff;
    color: #000;
  }

  ::ng-deep nz-badge.stock-badge.-stock-issue {
    background-color: $red;
  }

  ::ng-deep nz-badge.stock-badge.-limit-reached {
    background-color: $yellow;
    color: black;
  }

  ::ng-deep nz-badge.stock-badge.-limit-reached nz-badge-sup {
    display: none;
  }

  nz-badge.stock-badge>span {
    margin-bottom: 1px;
  }

  ::ng-deep nz-badge.stock-badge nz-badge-sup {
    box-shadow: none;
    padding-right: 0;
    transform: none;
    background-color: transparent !important;
    border: none;
    margin-bottom: -1px;
  }

  .ingredients-section {
    ::ng-deep .ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
      padding-top: 0;
    }
  }

  .mobile-description-section {
    display: none;
  }

  .ingredients::first-letter {
    text-transform: capitalize;
  }

  ::ng-deep .ant-card-actions i.-disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  @media screen and (max-width: $lg) {
    nz-card {
      width: 100%;
    }

    .card-image {
      display: none;
    }

    .mobile-card-image {
      display: block;
      width: 100px;
      height: fit-content;
      border-radius: 4px;
    }

    .template-description {
      padding-right: 1rem;
      margin-bottom: 0;
      width: fit-content;
      display: none;

      &.-mobile {
        display: block;
      }
    }

    ::ng-deep .ant-collapse>.ant-collapse-item>.ant-collapse-header {
      padding: 12px 0;
    }
  }
}
