<nz-card [nzCover]="coverTemplate" [nzActions]="[actionCount, actionMinus, actionPlus]"
  [class.-is-admin]="isAdmin" [class.-limit-reached]="!isAdmin && pastry.stock <= 0">
  <nz-skeleton [nzActive]="false" [nzLoading]="isLoading">
    <nz-badge *ngIf="isStockAvailable" class="stock-badge" [class.-limit-reached]="pastry.stock <= 0"
      [class.-stock-issue]="isStockIssue" nzStandalone nzShowZero [nzCount]="pastry.stock" [nzOverflowCount]="99"
      [nzTitle]="'stock'" i18n-nzTitle>
      <ng-container *ngIf="pastry.stock <= 0">
        <span i18n>Rupture de stock</span>
      </ng-container>
      <ng-container *ngIf="pastry.stock > 0">
        <span i18n>Stock</span>
      </ng-container>
    </nz-badge>

    <nz-badge *ngIf="isAdmin" class="display-sequence-badge" nzStandalone nzShowZero [nzCount]="pastry.displaySequence + 1"
      [nzTitle]="'Séquence d\'affichage'" i18n-nzTitle></nz-badge>

    <nz-card-meta
      [nzTitle]="pastry.name"
      [nzDescription]="descriptionTemplate">
    </nz-card-meta>

    <ng-template #descriptionTemplate>
      <div nzFlex nz-row>
        <div nz-col nzFlex="1">
          <p class="template-description -mobile" nz-tooltip [nzTooltipTrigger]="pastry.description.split(' ').length > 10 ? 'hover' : null" [nzTooltipTitle]="tooltipTitleTemplate" nzTooltipPlacement="top" [nzTooltipMouseEnterDelay]="1">
            {{ pastry.description.split(' ').splice(0, 10).join(' ') + (pastry.description.split(' ').length > 10 ? '…' : '') }}
          </p>

          <ng-template #tooltipTitleTemplate>
            {{ pastry.description }}
          </ng-template>

          <p class="template-description">
            {{ pastry.description }}
          </p>

          <span class="price-section">{{ pastry.price | number: '1.2-2' }}€</span>
        </div>

        <img nz-col class="mobile-card-image" *ngIf="!isLoading && imageUrl" [alt]="pastry.name" [src]="imageUrl" (error)="onImgError()" />
      </div>
      <div nzFlex nz-row>
        <nz-collapse *ngIf="pastry.ingredients?.length" class="ingredients-section" nzGhost>
          <nz-collapse-panel nzHeader="Ingrédients" i18n-nzHeader>
            <p class="ingredients" style="margin: 0;">
              {{ pastry.ingredients.join(', ') }}
            </p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </ng-template>
  </nz-skeleton>
</nz-card>
<ng-template #coverTemplate>
  <img class="card-image" *ngIf="!isLoading && imageUrl" [alt]="pastry.name" [src]="imageUrl" (error)="onImgError()" />
  <div *ngIf="isAdmin && !isLoading && imageUrl" class="card-actions-btn">
    <div class="btn-section">
      <button nz-button nzType="default" nzShape="circle" nzSize="large" (click)="clickEdit.emit()"><span nz-icon
          nzType="edit"></span></button>
    </div>
    <div class="btn-section">
      <button *ngIf="!pastry.hidden" nz-button nzType="default" nzShape="circle" nzSize="large"
        (click)="clickDelete.emit()">
        <span nz-icon nzType="eye"></span>
      </button>
      <button *ngIf="pastry.hidden" nzDanger nz-button nzType="primary" nzShape="circle" nzSize="large"
        (click)="clickActive.emit()">
        <span nz-icon nzType="eye-invisible"></span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #actionCount>
  <span *ngIf="!!count">{{ count }}</span>
</ng-template>
<ng-template #actionPlus class="truc">
  <i nz-icon nzType="plus" [class.-disabled]="isMaxLimitReached || isLoading || disabled" (click)="!disabled && !isMaxLimitReached && !isLoading && clickPlus.emit()"></i>
</ng-template>
<ng-template #actionMinus>
  <i nz-icon nzType="minus" [class.-disabled]="count < 1 || isLoading || disabled" (click)="!disabled && count > 0 && !isLoading && clickMinus.emit()"></i>
</ng-template>
