<nz-modal [nzVisible]="true" nzTitle="Votre commande" i18n-nzTitle nzCentered (nzOnCancel)="clickCancel.emit()">
  <ng-container *nzModalContent>
    <nz-space nzDirection="vertical">
      <input *nzSpaceItem nz-input placeholder="Votre prénom" i18n-placeholder [(ngModel)]="currentFirstName" />
      <nz-radio-group *nzSpaceItem [(ngModel)]="takeAwayValue">
        <label nz-radio-button [nzValue]="true" i18n>À emporter</label>
        <label nz-radio-button [nzValue]="false" i18n>Sur place</label>
      </nz-radio-group>
      <nz-space *nzSpaceItem nzAlign="center">
        <span *nzSpaceItem i18n>Heure de retrait</span>
        <nz-switch *nzSpaceItem [(ngModel)]="needPickUpTimeValue" (ngModelChange)="handlePickUpTimeAvailable($event)" [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate" [disabled]="pickUpTimeMandatory || !pickUpTimeAvailable">
        </nz-switch>
        <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
        <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
        <nz-time-picker *nzSpaceItem [nzAllowEmpty]="false" [nzDisabled]="!needPickUpTimeValue || !pickUpTimeAvailable || selectableHours.length === 0" [nzMinuteStep]="MINUTE_STEP"
          [nzHideDisabledOptions]="true" [(ngModel)]="pickUpTimeValue" (nzOpenChange)="handleTimePickerOpen($event)"
          [nzDisabledHours]="disabledHours.bind(this)" [nzDisabledMinutes]="disabledMinutes.bind(this)" nzFormat="HH:mm">
        </nz-time-picker>
      </nz-space>
    </nz-space>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleOnOk()" [disabled]="currentFirstName.trim().length < 2 || !pickUpTimeAvailable" i18n>
      Envoyer
    </button>
  </ng-container>
</nz-modal>
