<nz-modal
  [nzVisible]="true"
  nzTitle="Veuillez indiquer votre prénom svp"
  nzCentered
  (nzOnCancel)="onClickCancel.emit()"
>
  <ng-container *nzModalContent>
    <input nz-input placeholder="Votre prénom" [(ngModel)]="currentFirstName" />
  </ng-container>
  <ng-container *nzModalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="onClickOk.emit(currentFirstName)"
      [disabled]="!currentFirstName.length"
    >
      Envoyer
    </button>
  </ng-container>
</nz-modal>
