<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-row nzJustify="center">
  <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
    <nz-form-label nzRequired>Ancien mot de passe</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="userOldPasswordErrorTpl">
      <nz-input-group [nzSuffix]="suffixTemplateOldPassword">
        <input [type]="oldPasswordVisible ? 'text' : 'password'" nz-input formControlName="oldPassword"
          placeholder="**********" />
      </nz-input-group>
      <ng-template #suffixTemplateOldPassword>
        <span nz-icon [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="oldPasswordVisible = !oldPasswordVisible"></span>
      </ng-template>

      <ng-template #userOldPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Merci d'entrer un mot de passe
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Merci d'entrer un mot de passe de plus de {{ SIZE.MIN_PASSWORD }} caractères
        </ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">
          Merci d'entrer un mot de passe de moins de {{ SIZE.LARGE }} caractères
        </ng-container>
        <ng-container *ngIf="!control.hasError('minlength') && control.hasError('pattern')">
          Le mot de passe doit contenir au moins un chiffre, une majuscule et une lettre minuscule.
          Il doit aussi comporter au moins un caractère spécial parmi @$!%*#?&^_-
        </ng-container>
        <ng-container *ngIf="control.hasError('error')">Votre ancien mot de passe ne correspond pas</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
    <nz-form-label nzRequired>Nouveau mot de passe</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="userPasswordErrorTpl">
      <nz-input-group [nzSuffix]="suffixTemplatePassword">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
          placeholder="**********" />
      </nz-input-group>
      <ng-template #suffixTemplatePassword>
        <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"></span>
      </ng-template>

      <ng-template #userPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Merci d'entrer un mot de passe
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Merci d'entrer un mot de passe de plus de {{ SIZE.MIN_PASSWORD }} caractères
        </ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">
          Merci d'entrer un mot de passe de moins de {{ SIZE.LARGE }} caractères
        </ng-container>
        <ng-container *ngIf="!control.hasError('minlength') && control.hasError('pattern')">
          Le mot de passe doit contenir au moins un chiffre, une majuscule et une lettre minuscule.
          Il doit aussi comporter au moins un caractère spécial parmi @$!%*#?&^_-
        </ng-container>
        <ng-container *ngIf="control.hasError('passwordDifferentToConfirmPasswordValidator')">
          Merci de confirmer avec le même mot de passe
        </ng-container>
        <ng-container *ngIf="control.hasError('sameThanOldPasswordValidator')">
          Votre nouveau mot de passe doit être différent de votre ancien
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
    <nz-form-label nzRequired>Confirmation du nouveau mot de passe</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="userConfirmPasswordErrorTpl">
      <input [type]="'password'" nz-input formControlName="confirmPassword" placeholder="**********" />

      <ng-template #userConfirmPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Merci d'entrer la confirmation
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Merci d'entrer un mot de passe de plus de {{ SIZE.MIN_PASSWORD }} caractères
        </ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">
          Merci d'entrer un mot de passe de moins de {{ SIZE.LARGE }} caractères
        </ng-container>
        <ng-container *ngIf="control.hasError('passwordDifferentToConfirmPasswordValidator')">
          Merci de confirmer avec le même mot de passe
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
    <nz-form-control>
      <div nz-row nzJustify="end">
        <nz-space nzWrap>
          <button *nzSpaceItem nz-button (click)="resetForm($event)"
            [disabled]="(isLoading$ | async) === true">Effacer</button>
          <button *nzSpaceItem nz-button nzType="primary" [disabled]="!validateForm.valid"
            [nzLoading]="(isLoading$ | async) === true">Changer le mot de passe</button>
        </nz-space>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
