<form nz-form [formGroup]="validateForm" nz-row nzJustify="center">
  <div *ngIf="isDirty" class="info-dirty" nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
    <nz-alert
      nzType="info"
      nzMessage="Modification en cours"
      nzDescription="Cliquer sur enregistrer pour sauvegarder les informations."
      nzShowIcon
    ></nz-alert>
  </div>

  <nz-form-item *ngFor="let weekDayNumber of weekDayNumbers" nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24"
    [formGroupName]="weekDayNumber">
    <nz-form-label class="week-day">{{ weekDays[weekDayNumber] }}</nz-form-label>
    <nz-form-control>
      <nz-space class="time-picker-section" nzWrap>
        <nz-time-picker *nzSpaceItem formControlName="startTime" nzFormat="HH:mm" [nzMinuteStep]="15"
          [nzDisabledHours]="disabledHours.bind(this, weekDayNumber)" [nzDisabledMinutes]="disabledMinutes.bind(this, weekDayNumber)"></nz-time-picker>
        <button *nzSpaceItem class="action-btn" nz-button nzType="default" nzShape="circle"
          (click)="duplicate(weekDayNumber)" [disabled]="(isLoading$ | async) || (isDayClosed(weekDayNumber))">
          <span nz-icon nzType="copy"></span>
        </button>
      </nz-space>
    </nz-form-control>
    <div *ngIf="(isLoading$ | async) === false && generateHint(weekDayNumber)?.length" class="opening-hint">
      <span class="info-icon" nz-icon nzType="info-circle"></span>
      <span>{{ generateHint(weekDayNumber) }}</span>
    </div>
  </nz-form-item>

  <nz-form-item nz-col [nzLg]="14" [nzSm]="20" [nzXs]="24">
    <nz-form-control>
      <div nz-row nzJustify="end">
        <nz-space nzWrap>
          <button *nzSpaceItem nz-button (click)="submitForm()" nzType="primary"
            [disabled]="!validateForm.valid || (isLoading$ | async) || !isDirty">Enregistrer</button>
        </nz-space>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<app-information-popover>
  <div>Les commandes sont possibles dans les horaires d'ouverture du restaurant.</div>
  <div>Vous avez la possibilité via cette page d'étendre la période d'accès à la prise de commande.</div>
  <div>Ainsi, des clients pourront programmer une commande à partir de l'horaire configuré, et venir à partir de l'ouverture.</div>
</app-information-popover>
