:host {
  form {
    padding-bottom: 2rem;
  }

  .info-dirty {
    padding: 1rem 0;
  }

  .week-day {
    text-transform: capitalize;
  }

  .time-picker-section {
    display: flex;
    width: 100%;

    ::ng-deep .ant-space-item {
      flex: 1;
    }

    ::ng-deep .ant-space-item:has(.action-btn) {
      flex: initial;
    }

    nz-time-picker {
      width: 100%;
    }
  }

  .opening-hint {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    max-width: 500px;
    margin-top: 0.625rem;
    line-height: 1.25;

    & > .info-icon {
      margin-right: 0.625rem;
    }
  }
}
