:host {
  display: flex;
  justify-content: center;

  nz-badge {
    border-radius: 10px;
    color: white;
    border-color: white;
    box-shadow: 0 0 0 1px #fff;
    font-size: 1.25rem;
  }

  nz-card {
    transition: box-shadow 250ms;
  }

  nz-card.-is-just-updated {
    box-shadow: 0 0 6px orange;
  }

  nz-card.-is-new {
    box-shadow: 0 0 6px red;
  }
}
