:host {
  display: flex;
  justify-content: center;

  .take-away {
    display: flex;
    justify-content: center;
    font-weight: 500;
  }

  nz-card {
    transition: box-shadow 250ms;
  }

  nz-card.-is-just-updated {
    box-shadow: 0 0 6px #fa8c16;
  }

  nz-card.-is-new {
    box-shadow: 0 0 6px #ff4d4f;
  }
}
