<button *ngIf="canAssociate()" nz-button nzType="default" nzBlock (click)="associate()">
  <ng-container *ngIf="hasSelectedAssociatedPastries(); unLinked" i18n>
    Associer
  </ng-container>
  <ng-template #unLinked i18n>
    Dissocier
  </ng-template>
</button>
<button *ngIf="selectedCommonStock.length" nz-button nzType="dashed" nzBlock (click)="reset()" i18n>Réinitialiser</button>
<nz-list *ngIf="(pastries$ | async)?.length" nzBordered class="pastry-association-list">
  <nz-list-item class="pastry-association-box" *ngFor="let pastry of pastries$ | async; trackBy: trackById"
    [class.-deactivate]="isDeactivate(pastry)" [ngStyle]="isPastrySelected(pastry) ? getSelectedRowStyle() : {}"
    (click)="!isDeactivate(pastry) && selectPastry(pastry)">
    <span>{{ pastry.name }}</span>
    <nz-space class="badges-section" nzAlign="center">
      <nz-badge *ngIf="pastry.commonStock" [nzColor]="colorByCommonStock[pastry.commonStock]"></nz-badge>
      <nz-badge *nzSpaceItem class="hidden-badge" [nzCount]="iconHidden" nzStandalone [nzTitle]="'hidden'"></nz-badge>
      <nz-badge *nzSpaceItem class="association-badge" nzStandalone nzShowZero [nzCount]="pastry.displaySequence + 1"
        [nzTitle]="'Séquence d\'affichage'" i18n-nzTitle></nz-badge>
    </nz-space>
    <ng-template #iconHidden>
      <span *ngIf="pastry.hidden" nz-icon nzType="eye-invisible"></span>
    </ng-template>
  </nz-list-item>
</nz-list>

<app-information-popover>
  <nz-space nzDirection="vertical">
    <div *nzSpaceItem>
      <div i18n>Vous pouvez faire en sorte que les stocks de certaines pâtisseries diminuent conjointement.</div>
      <div i18n>Il vous suffit de cliquer sur les pâtisseries afin de leur associer la même couleur.</div>
    </div>
    <div *nzSpaceItem>
      <div i18n>Un exemple d'utilisation serait d'assembler plusieurs types de gaufres qui partageraient la même pâte, dont le stock serait de fait, commun.</div>
    </div>
    <div *nzSpaceItem>
      <div i18n>Attention, Les stocks des pâtisseries nouvellement associées seront réinitialisés à 0.</div>
    </div>
  </nz-space>
</app-information-popover>
